/*
I guess this global rule is appropriate
considering Bootstrap has been
doing so for ages now.
*/
*,
*:before,
*:after
{
  box-sizing : border-box;
}

html, body
{
	/* Removes higlight on tap on mobile devices. */
	-webkit-tap-highlight-color : transparent;
}

body
{
	/* Disables "double tap to zoom in" on mobile devices. */
	/* https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom */
	touch-action: manipulation;
}

body, input, textarea, select
{
	font-family : Arial, Helvetica, Sans;
	font-size   : var(--font-size);

	// For XS screens.
	@mixin xs
	{
		font-size : var(--font-size-xs);
	}
}

body
{
	margin     : 0;
	overflow-y : scroll;
}

a
{
	color: inherit;
	text-decoration: none;
}

a:active
{
	color: var(--base-color-dark);
}

/* Internet Explorer adds borders around all images */
img
{
	border: none;
}

p
{
	line-height   : var(--line-height);
	margin-top    : 1em;
	margin-bottom : 0;
}