/*
I guess this global rule is appropriate
considering Bootstrap has been
doing so for ages now.
*/
*,
*:before,
*:after
{
  box-sizing : border-box;
}

html, body
{
	/* Removes higlight on tap on mobile devices. */
	-webkit-tap-highlight-color : transparent;
}

body
{
	/* Disables "double tap to zoom in" on mobile devices. */
	/* https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom */
	touch-action: manipulation;
}

/* `html` is required in order for `rem`s to work. */
/* Also doesn't work without `body` for some weird reason. */
html, body {
	font-family : var(--font-family);
	@mixin xxs {
		font-size : var(--font-size-xxs);
	}
	@mixin xs {
		font-size : var(--font-size-xs);
	}
	@mixin s {
		font-size : var(--font-size-s);
	}
	@mixin m {
		font-size : var(--font-size-m);
	}
	@mixin l-plus {
		font-size : var(--font-size-m);
	}
}

input, textarea, select, table
{
	font-family: inherit;
	font-size: inherit;
}

body
{
	margin     : 0;
	overflow-y : scroll;
}

a {
	color: var(--base-color-700);
	text-decoration: none;
	&:active {
		color: var(--base-color-600);
	}
}

.link--block
{
	display: block;
	color: initial;
}

/*a:active
{
	color: var(--base-color-600);
}*/

/* Internet Explorer adds borders around all images */
img
{
	border: none;
}

p
{
	line-height   : var(--line-height);
	margin-top    : 1em;
	margin-bottom : 0;
}

.position-relative
{
	position : relative;
}

::selection {
	color: var(--white-color);
	background-color: var(--base-color-600);
}

/* Safari `<input type="search"/>` fix test. */
/* https://stackoverflow.com/questions/34802552/safari-input-type-search-reset-normalize */
/* Remove this if this works and when the fix is released in `react-responsive-ui`. */
.rrui__input-field {
	-webkit-appearance : none;
}