@import "../components/Button.css";
@import "../components/Card.css";
@import "../components/ContentSection.css";
@import "../components/HoverButton.css";
@import "../components/Loading.css";
@import "../components/Snackbar.css";

.page-header
{
	margin-top : 0;
	text-align : center;
}

.page-content
{
	margin-top: calc(var(--unit) * 1);
	margin-bottom: calc(var(--unit) * 2);
	@mixin s-plus {
		margin-top: calc(var(--unit) * 2);
		margin-bottom: calc(var(--unit) * 4);
	}
}

.aspect-ratio--hd
{
	/* 16:9 aspect ratio */
	padding-bottom: 56.25%;
}

.aspect-ratio__content--hd
{
	width  : 100%;
	height : 100%;
}

.aspect-ratio--hd
{
	.aspect-ratio__content--hd
	{
		width  : 100%;
    height : 100%;

		/* Selector specificity overrides `postition: relative` on `<Picture/>`. */
		position : absolute;
	}
}