@import "./grid.mixins";

:root
{
	--white-color        : #ffffff;
	--black-color        : #49515C;

	--gray-color-transparent : rgba(0,0,0,0.015);

	--gray-color-lightest : #F0F2F5;
	--gray-color-light    : #DCDEE3;
	--gray-color-lighter  : #B3B7BA;
	--gray-color          : #A6AAAD;
	--gray-color-darker   : #999CA1;
	--gray-color-dark     : #888C91;
	--gray-color-darkest  : #5b636d;

	--base-color-lightest : #00B3FF;
	--base-color-light : #00B3FF;
	--base-color       : #00A6ED;
	--base-color-dark  : #0084BD;
	--base-color-darkest : #0084BD;

	/* Base color transparency: rgba(0, 179, 255, 0.6); */

	--accent-color-dark  : #C70049;
	--accent-color       : #FC005D;
	--accent-color-light : #FF4086;

	--error-color-dark : #BD0016;
	--error-color      : #E6001B;

	--background-color : #eaeaea;
	--content-section-divider-color : #e3e4e8;
	--content-section-shadow : 0 1px 0 0 #d7d8db, 0 0 0 1px var(--content-section-divider-color);

	--unit : 14px;
	--column-padding : var(--unit);

	/* Some magic number seen on the Internet. */
	--line-height : 1.52947;

	--header-height : 0;

	--font-family : sans-serif;
	--font-family-text : sans-serif;
	/*--font-family-designer : Roboto, sans-serif;*/

	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--font-size-xxs : 16px;
	--font-size-xs : 18px;
	--font-size-s  : 19px;
	--font-size-m : 20px;

	--preloading-screen-z-index : 10;
	--slideshow-z-index : 1;

	--border-radius : 0.2rem;
	--shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	--button-on-background-background-color : rgba(0, 0, 0, 0.6);
	--button-on-background-color : var(--white-color);
	--primary-button-on-background-background-color : rgba(0, 166, 237, 0.8);

	--footer-menu-height : calc(var(--unit) * 3);

	--picture-background-color: var(--background-color);
	--picture-border-color: rgba(0, 0, 0, 0.5);
	--picture-border-width: 1px;

	@mixin m-plus {
		--header-height: calc(var(--unit) * 3);
	}
}