@import "./grid.mixins";

:root
{
	--white-color : #ffffff;
	--black-color : #000000;

	--gray-color-transparent : rgba(0,0,0,0.015);

	/* https://refactoringui.com/previews/building-your-color-palette */
	--gray-color-100 : #F0F2F5;
	--gray-color-200 : #DCDEE3;
	--gray-color-300 : #BDC6CE;
	--gray-color-400 : #A6AAAD;
	--gray-color-500 : #999CA1;
	--gray-color-600 : #82868A;
	--gray-color-650 : #6C747E;
	--gray-color-700 : #5b636d;
	--gray-color-750 : #4f5760;
	--gray-color-800 : #49515C;
	--gray-color-900 : #404852;

	/* https://refactoringui.com/previews/building-your-color-palette */
	--base-color-100 : #97E0FF;
	--base-color-200 : #63D0FF;
	--base-color-300 : #3FC6FF;
	--base-color-400 : #25BEFF;
	--base-color-500 : #00B3FF;
	--base-color-600 : #009CDF;
	--base-color-700 : #0084BD;
	--base-color-800 : #006996;
	--base-color-900 : #003F5A;

	/* Base color transparency: rgba(0, 179, 255, 0.6); */

	/* https://refactoringui.com/previews/building-your-color-palette */
	--accent-color-100 : #FFA6C7;
	--accent-color-200 : #FF78AA;
	--accent-color-300 : #FF5191;
	--accent-color-400 : #FF2A79;
	--accent-color-500 : #FF005E;
	--accent-color-600 : #D90050;
	--accent-color-700 : #BC0045;
	--accent-color-800 : #980038;
	--accent-color-900 : #6E0029;

	/* critical color */
	/* warning color */
	/* positive color */
	/* https://refactoringui.com/previews/building-your-color-palette */
	--critical-color-100 : #FFA3AE;
	--critical-color-200 : #FF7D8C;
	--critical-color-300 : #FF5B6E;
	--critical-color-400 : #FF3C53;
	--critical-color-500 : #E6001B;
	--critical-color-600 : #E3001B;
	--critical-color-700 : #BB0016;
	--critical-color-800 : #A20013;
	--critical-color-900 : #77000E;

	--Empty-backgroundColor: #eaeaea;
	--ContentSection-borderColor: #e3e4e8;
	--ContentSection-shadowColor: #d7d8db;

	--unit : 14px;
	--column-padding : var(--unit);

	/* Some magic number seen on the Internet. */
	--line-height : 1.52947;

	--header-height : 0;

	--font-family : sans-serif;
	--font-family-text : sans-serif;
	/*--font-family-designer : Roboto, sans-serif;*/

	/*
	Mobile font size must be at least 16px
	to prevent automatic zoom on input focus.
	*/
	--font-size-xxs : 16px;
	--font-size-xs : 18px;
	--font-size-s  : 19px;
	--font-size-m : 20px;

	--preloading-screen-z-index : 10;
	--slideshow-z-index : 1;

	--border-radius : 0.2rem;
	--shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	--button-on-background-background-color : rgba(0, 0, 0, 0.6);
	--button-on-background-color : var(--white-color);
	--primary-button-on-background-background-color : rgba(0, 166, 237, 0.8);

	--footer-menu-height : calc(var(--unit) * 3);

	--picture-background-color: var(--Empty-backgroundColor);
	--picture-border-color: rgba(0, 0, 0, 0.5);
	--picture-border-width: 1px;

	--Header-backgroundColor: var(--white-color);
	--Header-color: var(--gray-color-800);
	--Header-borderColor: rgba(0,0,0,.15);

	--Menu-color: initial;
	--Menu-color--active: var(--gray-color-650);

	--Content-color: initial;
	--Content-backgroundColor: var(--white-color);

	--Clickable-color: var(--base-color-700);
	--Clickable-color--active: var(--base-color-600);

	--PostInlineQuoteLink-backgroundColor--hover: #fcfcfc;
	--PostInlineQuoteLink-borderColor--hover: #f5f5f5;
	--Post-color--secondary: var(--gray-color-600);

	--PostInlineSpoiler-backgroundColor: var(--gray-color-100);
	--PostInlineSpoiler-backgroundColor--censored: #f0e1e1;

	--Notification-color: var(--white-color);
	--Notification-backgroundColor: var(--black-color);
	--Notification-backgroundColor--error: var(--critical-color-700);

	--HoverButton-backgroundColor--hover: var(--gray-color-transparent);
	--HoverButton-borderColor: var(--gray-color-100);
	--HoverButtonPushed-color: var(--base-color-700);
	--HoverButtonPushed-backgroundColor: var(--base-color-100);
	--HoverButtonPushed-color--active: var(--base-color-600);

	@mixin m-plus {
		--header-height: calc(var(--unit) * 3);
	}
}