$screen-xs-small-max : 587px; /* 14 * 42 - 1 */
$screen-xs-plus-min : 588px; /* 14 * 42 */
$screen-xs-max : 700px; /* 14 * 50 */
$screen-ms-min : 701px;
$screen-ms-max : 882px; /* 14 * 63 */
$screen-ml-min : 883px;
$screen-ml-max : 1302px; /* 14 * 93 */
$screen-xl-min : 1303px;
$screen-xxl-min : 1764px; /* $screen-ms-max * 2 */

@define-mixin xs
{
  @media all and (max-width: $screen-xs-max)
  {
    @mixin-content;
  }
}

@define-mixin xs-small
{
  @media all and (max-width: $screen-xs-small-max)
  {
    @mixin-content;
  }
}

@define-mixin xs-plus
{
  @media all and (min-width: $screen-xs-plus-min) and (max-width: $screen-xs-max)
  {
    @mixin-content;
  }
}

@define-mixin m
{
  @media all and (min-width: $screen-ms-min) and (max-width: $screen-ml-max)
  {
    @mixin-content;
  }
}

@define-mixin ms
{
  @media all and (min-width: $screen-ms-min) and (max-width: $screen-ms-max)
  {
    @mixin-content;
  }
}

@define-mixin ml
{
  @media all and (min-width: $screen-ml-min) and (max-width: $screen-ml-max)
  {
    @mixin-content;
  }
}

@define-mixin sm
{
  @media all and (max-width: $screen-ml-max)
  {
    @mixin-content;
  }
}

@define-mixin xl
{
  @media all and (min-width: $screen-xl-min)
  {
    @mixin-content;
  }
}

@define-mixin xxl
{
  @media all and (min-width: $screen-xxl-min)
  {
    @mixin-content;
  }
}