$screen-xs-max : 770px; /* 14 * 55 */
$screen-md-min : 771px;
$screen-md-max : 1399px;
$screen-xl-min : 1400px; /* 14 * 100 */

@define-mixin xs
{
  @media all and (max-width: $screen-xs-max)
  {
    @mixin-content;
  }
}

@define-mixin m
{
  @media all and (min-width: $screen-md-min) and (max-width: $screen-md-max)
  {
    @mixin-content;
  }
}

@define-mixin xl
{
  @media all and (min-width: $screen-xl-min)
  {
    @mixin-content;
  }
}