@import "react-responsive-ui/style.css";
@import "./grid.mixins";

@import "react-responsive-ui/small-screen/Modal.css" (max-width: $screen-xxs-max);
@import "react-responsive-ui/small-screen/Snackbar.css" (max-width: $screen-xxs-max);
@import "react-responsive-ui/small-screen/DatePicker.InputOverlay.css" (max-width: $screen-xxs-max);

:root {
	--rrui-unit               : var(--unit);

	--rrui-white-color        : var(--Content-backgroundColor);
	--rrui-black-color        : var(--Content-color-900);
	--rrui-accent-color       : var(--Clickable-color);
	--rrui-accent-color-light : var(--Clickable-color--active);
	--rrui-gray-color         : var(--Content-color-400);
	--rrui-gray-color-light   : var(--Content-color-300);
	--rrui-gray-color-lightest: var(--Content-color-200);
	--rrui-error-color        : var(--Critical-color);

	--rrui-input-height: calc(var(--unit) * 2.5);
	--rrui-list-item-height: calc(var(--rrui-unit) * 3.5);
	--rrui-list-vertical-padding: calc(var(--rrui-unit) * 0.5);
	--rrui-list-item-background-color-focus: var(--Content-color-100);
	--rrui-expandable-menu-item-side-padding: calc(var(--rrui-unit) * 1.5);
	--rrui-input-field-background-color: transparent;
	--rrui-input-field-label-color-focus: var(--Clickable-color--text);
	--rrui-checkbox-fill-color: var(--Content-backgroundColor);
	/*--rrui-button-transition: none;*/
	--rrui-button-transition: none;
}

.dark {
	--rrui-input-field-label-color: var(--Content-color-600);
	--rrui-checkbox-fill-color: var(--Content-color-600);
	--rrui-switch-knob-background-color: var(--Content-backgroundColor);
}

.rrui__tooltip--after-show {
	opacity : 0.85;
}

.rrui__tooltip--before-hide {
	opacity : 0;
}

.rrui__button--text {
	height: auto;
	color: var(--Clickable-color--text);
	border-bottom: 1px solid transparent;
}

.rrui__button--text:active {
	color: var(--Clickable-color--textActive);
}

.rrui__button--text:focus {
	border-bottom-color: currentColor;
}

.rrui__button--background {
	color: var(--rrui-white-color);
	background-color: var(--rrui-accent-color);
	padding-left: var(--unit);
	padding-right: var(--unit);
	&:active {
		color: var(--rrui-white-color);
		background-color: var(--rrui-accent-color-light);
	}
	&:focus {
		/*box-shadow: 0 0 0 4px inset var(--rrui-accent-color-light);*/
		box-shadow: 0 0 2px var(--rrui-accent-color-light);
	}
}

.rrui__button--outline {
	/*color: var(--rrui-white-color);*/
	/*background-color: var(--rrui-accent-color);*/
	color: var(--Clickable-color--text);
	padding-left: var(--unit);
	padding-right: var(--unit);
	border: 1px solid currentColor;
	border-radius: 4px;
	&:active {
		color: var(--rrui-white-color);
		background-color: var(--Clickable-color--text);
		border-color: var(--Clickable-color--text);
	}
	&:focus {
		box-shadow: 0 0 2px var(--rrui-accent-color-light);
	}
}

.rrui__button--outline.rrui__button--float {
	&:focus {
		box-shadow: 0 0 2px var(--rrui-accent-color-light),
			0px 0.22em 0.35em -0.07em rgba(0,0,0,0.1),
			0px 0.4em 0.7em 0px rgba(0,0,0,0.07),
			0px 0.07em 1.3em 0px rgba(0,0,0,0.06);
	}
}

.rrui__button--float {
	box-shadow: 0px 0.22em 0.35em -0.07em rgba(0,0,0,0.1),
		0px 0.4em 0.7em 0px rgba(0,0,0,0.07),
		0px 0.07em 1.3em 0px rgba(0,0,0,0.06);
}

/* Firefox is being stubbort with outlines. */
/* https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links */
/* Actually having tab-only outlines is good UX. */
/*
.rrui__button-reset:not(.rrui__outline--default)::-moz-focus-inner {
	border: 0;
}
*/

.rrui__modal__contents {
	max-width: calc(100vw - var(--rrui-unit) * 2);
	width: calc(var(--rrui-unit) * 40);
}

.rrui__button--multiline {
	white-space: initial;
	text-align: left;
}

.rrui__input--monospace .rrui__input-field {
	font-family: monospace;
}

.rrui__modal__actions .form__action {
	margin-top: 0;
}

.rrui__modal__contents {
	box-shadow: 0 0 0 var(--Modal-borderWidth) var(--Modal-borderColor);
}

/* Remove this rule after a new version of
   `react-responsive-ui@>0.14.148` is released. */
.rrui__fixed-full-width {
	top: auto;
}