@import "react-responsive-ui/style.css";
@import "./grid.mixins";

@import "react-responsive-ui/small-screen/Modal.css" (max-width: $screen-xs-max);
@import "react-responsive-ui/small-screen/Snackbar.css" (max-width: $screen-xs-max);
@import "react-responsive-ui/small-screen/DatePicker.InputOverlay.css" (max-width: $screen-xs-max);

:root
{
	--rrui-unit               : var(--unit);
	--rrui-white-color        : white;
	--rrui-black-color        : black;
	--rrui-accent-color       : var(--base-color);
	--rrui-accent-color-light : var(--base-color-light);
	--rrui-gray-color         : var(--gray-color);
}

.rrui__input-field
{
	background-color: transparent;
}

.rrui__tooltip--after-show
{
	opacity : 0.85;
}

.rrui__tooltip--before-hide
{
	opacity : 0;
}

.rrui__video__play-icon-background
{
	fill : rgba(0, 0, 0, 0.7);
}

.rrui__video__play-icon-triangle
{
	fill : var(--white-color);
}