@import "./grid.mixins";

/* Global. */
:root {
	/* Document. */
	--Document-color: var(--Content-color-900);
	--Document-backgroundColor: var(--Content-backgroundColor);
	--Document-fontFamily: Roboto, sans-serif;

	/* Text. */
	--Text-maxWidth: 44em;
	--Text-fontFamily: var(--Document-fontFamily);

	/* Header. */
	--Header-height: calc(var(--unit) * 3);
	--Header-borderWidth: 1px;
	--Header-color--textHover: var(--Clickable-color--text);
	--Header-color--textActive: var(--Clickable-color--textActive);

	/* Menu. */
	--Menu-color: initial;
	--Menu-color--selected: var(--Menu-color);

	/* MenuIcon. */
	--MenuIcon-width: calc(var(--unit) * 1.75);

	/* Picture. */
	--Picture-backgroundColor: var(--Content-color-100);
	--Picture-borderWidth: 1px;

	/* Notification. */
	--Notification-color: var(--Content-backgroundColor);
	--Notification-backgroundColor: var(--Content-color-900);
	--Notification-borderColor: var(--Content-color-400);
	--Notification-borderWidth: 1px;

	/* Notification (critical). */
	--Notification-color--critical: var(--white-color);
	--Notification-backgroundColor--critical: var(--Critical-backgroundColor);
	--Notification-borderWidth--critical: 0;

	/* Notification (warning). */
	--Notification-color--warning: var(--black-color);
	--Notification-backgroundColor--warning: var(--Warning-backgroundColor);
	--Notification-borderWidth--warning: 0;

	/* Modal. */
	--Modal-borderColor: transparent;
	--Modal-borderWidth: 0px;

	/* Critical. */
	--Critical-backgroundColor: var(--critical-color-600);

	/* Warning. */
	--Warning-color: var(--black-color);
	--Warning-backgroundColor: #EFEB00;

	/* Content. */
	--Content-color-900: initial;
	--Content-backgroundColor--active: initial;
	--Content-fontWeight--bold: bolder;

	/* Post. */
	--Post-padding--horizontal: var(--ContentSection-padding--horizontal);
	@mixin xl-plus {
		--Post-padding--horizontal: calc(var(--unit) * 2);
	}

	/* PostThumbnail. */
	/* Default thumnail size. Will be overridden on `<body/>` after parsing chan response. */
	--PostThumbnail-maxWidth: 220px;
	/* This variable wouldn't work if set on `:root` for some reason:
	   changing `var(--Post-padding--horizontal)` wouldn't have any effect. */
	--PostThumbnail-marginRight: var(--Post-padding--horizontal);

	/* PostQuote. */
	--PostQuote-paddingLeft: var(--Post-padding--horizontal);
	--PostQuote-paddingRight: var(--Post-padding--horizontal);

	/* PostQuote (regular). */
	--PostQuote-color: initial;
	--PostQuote-backgroundColor: initial;
	--PostQuote-backgroundColor--hover: var(--PostQuote-backgroundColor);
	/*--PostQuote-borderColor: var(--PostQuote-backgroundColor);*/
	/*--PostQuote-borderColor--hover: var(--PostQuote-backgroundColor--hover);*/
	--PostQuote-borderWidth: 0px;
	--PostQuote-marginTop: 0px;

	/* PostQuote (generated). */
	--PostQuote-color--generated: var(--PostQuote-color);
	--PostQuote-backgroundColor--generated: var(--PostQuote-backgroundColor);
	--PostQuote-backgroundColor--generated--hover: var(--PostQuote-backgroundColor--generated);
	/*--PostQuote-borderColor--generated: var(--PostQuote-backgroundColor--generated);*/
	/*--PostQuote-borderColor--generated--hover: var(--PostQuote-backgroundColor--generated--hover);*/
	--PostQuote-borderWidth--generated: 0px;
	--PostQuote-marginTop--generated: 0px;

	/* PostQuoteMarker (constants). */
	--PostQuoteMarker-padding--standalone: 0.2em;

	/* PostQuoteMarker. */
	--PostQuoteMarker-color: currentColor;
	--PostQuoteMarker-opacity: 0.5;
	--PostQuoteMarker-width: 2px;
	--PostQuoteMarker-padding: var(--PostQuoteMarker-padding--standalone);
	--PostQuoteMarker-color: currentColor;

	/* PostQuoteMarker (generated). */
	--PostQuoteMarker-color--generated: var(--PostQuoteMarker-color);
	--PostQuoteMarker-opacity--generated: var(--PostQuoteMarker-opacity);
	--PostQuoteMarker-width--generated: var(--PostQuoteMarker-width);
	--PostQuoteMarker-padding--generated: var(--PostQuoteMarker-padding--standalone);
	--PostQuoteMarker-color--generated: currentColor;

	/* PostAttachment. */
	/*--PostAttachment-focusOutlineWidth: 2px;*/

	/* HoverButton. */
	--HoverButton-color: inherit;
	--HoverButton-backgroundColor--pushed: var(--HoverButton-backgroundColor--active);
	--HoverButton-borderColor--pushedFocus: var(--HoverButton-borderColor--pushedActive);
	--HoverButton-backgroundColor--pushedActive: var(--HoverButton-backgroundColor--active);
	--HoverButton-borderRadius: 0px;

	/* CommentTree. */
	--CommentTree-padding: var(--Post-padding--horizontal);
	--CommentTree-borderWidth: 1px;
	--CommentTree-borderStyle: dashed;
	--CommentTree-borderStyle--branch: solid;
	/* Approximate offset top so that it points to the first line of text in a comment. */
	--CommentTree-branchContentTop: 1.6em;
	--CommentTree-branchTop: calc(var(--Post-padding--vertical) + var(--CommentTree-branchContentTop));
	@mixin upto-xs {
		--CommentTree-branchContentTop: 1.9em;
	}

	/* Slideshow. */
	--SlideshowSlide-boxShadow: 0 10px 38px rgba(0,0,0,0.2), 0 6px 12px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.35);
	--SlideshowSlide-backgroundColor: var(--Content-color-100);
	--SlideshowSlide-backgroundColor--video: black;
	--SlideshowProgressDot-borderWidth: 1px;
	--SlideshowProgressDot-borderColor: rgba(0, 0, 0, 0.5);
	--SlideshowProgressDot-opacity: 0.8;
	--Slideshow-zIndex: 1;
}

/* Light mode. */
.light {
	/* Document. */
	--Document-backgroundColor: #eaeaea;

	/* Header. */
	--Header-color: var(--Content-color-800);
	--Header-backgroundColor: var(--Content-backgroundColor);
	--Header-borderColor: rgba(0,0,0,.11);

	/* Menu. */
	--Menu-color--active: var(--gray-color-650);

	/* Clickable. */
	--Clickable-color--text: var(--base-color-700);
	--Clickable-color--textActive: var(--base-color-600);
	--Clickable-color: var(--base-color-500);
	--Clickable-color--active: var(--base-color-400);

	/* Picture. */
	--Picture-borderColor: rgba(0, 0, 0, 0.5);
	--Picture-borderColor--focus: var(--base-color-700);
	--Picture-filter: none;

	/* Critical. */
	--Critical-color: var(--critical-color-600);

	/* Selection. */
	--Selection-color: var(--Content-color-900);
	--Selection-backgroundColor: var(--Clickable-color--active);

	/* Content. */
	--Content-backgroundColor: var(--white-color);
	--Content-color-100: var(--gray-color-100);
	--Content-color-200: var(--gray-color-200);
	--Content-color-300: var(--gray-color-300);
	--Content-color-400: var(--gray-color-400);
	--Content-color-500: var(--gray-color-500);
	--Content-color-600: var(--gray-color-600);
	--Content-color-700: var(--gray-color-700);
	--Content-color-800: var(--gray-color-800);
	--Content-color-900: var(--gray-color-900);

	/* ContentSection. */
	/* `--ContentSection-borderColor` is not used currently. */
	--ContentSection-borderColor: #e3e4e8;
	--ContentSection-shadowColor: hsla(210,7%,61%,.15);

	/* Post. */
	--Post-color--secondary: var(--Content-color-500);

	/* PostVotes. */
	--PostVotes-color--positive: #008800;
	--PostVotes-color--negative: #b50000;

	/* PostQuote. */
	--PostQuote-color: #268000;
	--PostQuote-backgroundColor: #dfffcb;
	--PostQuote-borderWidth: 1px;
	--PostQuote-borderColor: #c9f6ac;
	--PostQuote-marginTop: 4px;

	/* PostQuote (generated). */
	--PostQuote-color--generated: #87481b;
	--PostQuote-backgroundColor--generated: #fff7ed;
	--PostQuote-borderWidth--generated: 1px;
	--PostQuote-borderColor--generated: #f4d7bc;
	--PostQuote-marginTop--generated: 4px;

	/* PostQuoteMarker. */
	--PostQuoteMarker-opacity: 0.25;
	--PostQuoteMarker-color: currentColor;
	--PostQuoteMarker-padding: 0px;

	/* PostQuoteMarker (generated). */
	--PostQuoteMarker-opacity--generated: 1;
	--PostQuoteMarker-color--generated: #e6bb85;
	--PostQuoteMarker-padding--generated: 0px;

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color: var(--Content-color-100);
	--PostInlineSpoiler-color--contentActive: var(--PostInlineSpoiler-color);
	--PostInlineSpoiler-color--censored: #f0e1e1;
	--PostInlineSpoiler-color--censoredContentActive: #f2dccb;

	/* PostAttachment. */
	--PostAttachment-shadowColor--hover: rgba(0,0,0,0.15);

	/* CommentTree. */
	--CommentTree-color--branch: var(--CommentTree-color);
	--CommentTree-color: var(--base-color-300);
	--CommentTree-color--hover: var(--base-color-400);
	--CommentTree-backgroundColor--hover: rgba(0,0,0,0.044);
	--CommentTreeBranch-paddingLeft--firstLevel: 0;

	/* HoverButton. */
	--HoverButton-color--active: initial;
	--HoverButton-color--pushed: var(--base-color-700);
	--HoverButton-color--pushedActive: var(--base-color-600);
	--HoverButton-backgroundColor: var(--gray-color-transparent);
	--HoverButton-backgroundColor--active: var(--base-color-100);
	--HoverButton-backgroundColor--pushed: var(--HoverButton-backgroundColor--active);
	--HoverButton-borderColor: var(--Content-color-100);
	--HoverButton-borderColor--active: var(--HoverButton-borderColor);
	--HoverButton-borderColor--pushed: var(--HoverButton-borderColor--active);
	--HoverButton-borderColor--pushedActive: var(--Content-color-200);
}

/* Dark Mode. */
.dark {
	/* Document. */
	--Document-backgroundColor: #272727;

	/* Header. */
	--Header-color: var(--Content-color-900);
	--Header-backgroundColor: var(--Content-color-100);
	--Header-borderColor: rgba(255,255,255,.07);

	/* Menu. */
	--Menu-color--active: var(--Content-color-600);

	/* Notification. */
	--Notification-color: var(--Content-color-900);
	--Notification-backgroundColor: var(--Content-backgroundColor);
	--Notification-borderColor: var(--Content-color-400);
	--Notification-borderWidth: 1px;
	--Notification-borderRadius: 0px;

	/* Critical. */
	--Critical-color: var(--critical-color-400);

	/* Selection. */
	--Selection-color: var(--Content-backgroundColor);
	--Selection-backgroundColor: var(--base-color-400);

	/* Content. */
	/* https://refactoringui.com/previews/building-your-color-palette */
	--Content-color-100: #333333;
	--Content-color-200: #444444;
	--Content-color-300: #555555;
	--Content-color-400: #666666;
	--Content-color-500: #777777;
	--Content-color-600: #888888;
	--Content-color-700: #989898;
	--Content-color-800: #a0a0a0;
	--Content-color-900: #b9b9b9;
	--Content-backgroundColor: #383838;
	/* The default "bold" font weight is too bold
	   for white text on black background. */
	--Content-fontWeight--bold: 500;

	/* ContentSection. */
	/* `--ContentSection-borderColor` is not used currently. */
	--ContentSection-borderColor: #e3e4e8;
	--ContentSection-shadowColor: rgba(0,0,0,.15);

	/* Clickable. */
	--Clickable-color: var(--base-color-400);
	--Clickable-color--active: var(--base-color-500);
	--Clickable-color--text: var(--base-color-300);
	--Clickable-color--textActive: var(--base-color-400);

	/* Modal. */
	--Modal-borderColor: var(--Content-color-100);
	--Modal-borderWidth: 1px;

	/* Picture. */
	--Picture-borderColor: var(--Content-color-100);
	--Picture-borderColor--focus: #743f20;
	/*--Picture-borderColor--focus: var(--Content-color-500);*/
	--Picture-filter: brightness(85%);

	/* Post. */
	--Post-color--secondary: var(--Content-color-600);

	/* PostVotes. */
	--PostVotes-color--positive: #83ff5a;
	--PostVotes-color--negative: #ff5454;

	/* PostQuote. */
	--PostQuote-color: #82c45f;

	/* PostQuoteMarker. */
	--PostQuoteMarker-opacity: 0.65;
	--PostQuoteMarker-padding: var(--PostQuoteMarker-padding--standalone);

	/* PostQuote (generated). */
	--PostQuote-color--generated: #b27b59;

	/* PostQuoteMarker (generated). */
	--PostQuoteMarker-opacity--generated: 0.65;
	--PostQuoteMarker-padding--generated: var(--PostQuoteMarker-padding--standalone);

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color: #494949;
	--PostInlineSpoiler-color--contentActive: #454545;
	--PostInlineSpoiler-color--censored: #62504f;
	--PostInlineSpoiler-color--censoredContentActive: #5c4a49;

	/* PostAttachment. */
	--PostAttachment-shadowColor--hover: rgba(100,100,100,0.2);

	/* CommentTree. */
  --CommentTree-color: var(--base-color-800);
	--CommentTree-color--branch: var(--CommentTree-color);
	--CommentTree-backgroundColor--hover: var(--Content-color-100);
	--CommentTree-color--hover: var(--base-color-700);

	/* HoverButton. */
	--HoverButton-color--active: var(--base-color-300);
	--HoverButton-color--pushed: var(--base-color-400);
	--HoverButton-color--pushedActive: var(--HoverButton-color--active);
	--HoverButton-backgroundColor: var(--gray-color-transparent);
	--HoverButton-backgroundColor--active: var(--Content-color-200);
	--HoverButton-borderColor: var(--Content-color-200);
	--HoverButton-borderColor--active: var(--Content-color-300);
	--HoverButton-borderColor--pushed: var(--HoverButton-borderColor);
	--HoverButton-borderColor--pushedActive: var(--HoverButton-borderColor--active);
}