@import "./grid.mixins";

/* Global. */
:root {
	/* Document. */
	--Document-color: var(--Content-color-900);
	--Document-backgroundColor: var(--Content-backgroundColor);
	--Document-backgroundImage: none;
	--Document-fontFamily: Roboto, sans-serif;
	/* Roboto Mono looks bad when applied to code.
	   Instead, it should only be used in special cases of monospace,
	   and not for code. */
	/*--Document-fontFamily--monospace: 'Roboto Mono', monospace;*/
	--Document-fontFamily--monospace: monospace;
	--Document-fontWeight: normal;

	/* LinearProgress. */
	--LinearProgress-backgroundColor: rgb(167, 202, 237);
	--LinearProgress-color: #1976d2;
	--LinearProgress-height: 4px;
	--LinearProgress-animationTimingFactor: 1;
	--LinearProgress-animationDuration: calc(2.1s * var(--LinearProgress-animationTimingFactor));
	--LinearProgress-animationInterval: calc(1.18s * var(--LinearProgress-animationTimingFactor));

	/* Announcement. */
	--Announcement-backgroundColor: var(--Content-backgroundColor);
	--Announcement-color: var(--Content-color-900);
	--Announcement-borderWidth: 0px;
	--Announcement-padding: var(--unit);
	--Announcement-marginTop: 0px;
	--Announcement-marginBottom: 0px;
	--Announcement-link-color: var(--Clickable-color--text);
	--Announcement-link-color--active: var(--Clickable-color--textActive);
	--Announcement-link-borderBottom: none;
	--Announcement-link-textDecoration: none;
	--Announcement-boxShadow: none;

	/* Quote. */
	--Quote--before: '«';
	--Quote--after: '»';

	/* Text. */
	--Text-maxWidth: 44em;
	--Text-fontFamily: var(--Document-fontFamily);

	/* Header. */
	--Header-height: calc(var(--unit) * 3);
	--Header-borderWidth: 1px;
	--Header-color--textHover: var(--Clickable-color--text);
	--Header-color--textActive: var(--Clickable-color--textActive);

	/* Menu. */
	--Menu-color: initial;
	--Menu-color--selected: var(--Menu-color);

	/* MenuIcon. */
	--MenuIcon-width: calc(var(--unit) * 1.75);

	/* Picture. */
	--Picture-backgroundColor: var(--Content-color-100);
	--Picture-borderWidth: 1px;

	/* Notification. */
	--Notification-color: var(--Content-backgroundColor);
	--Notification-backgroundColor: var(--Content-color-900);
	--Notification-borderColor: var(--Content-color-400);
	--Notification-borderWidth: 1px;

	/* Notification (critical). */
	--Notification-color--critical: var(--white-color);
	--Notification-backgroundColor--critical: var(--Critical-backgroundColor);
	--Notification-borderWidth--critical: 0;

	/* Notification (warning). */
	--Notification-color--warning: var(--black-color);
	--Notification-backgroundColor--warning: var(--Warning-backgroundColor);
	--Notification-borderWidth--warning: 0;

	/* Modal. */
	--Modal-borderColor: transparent;
	--Modal-borderWidth: 0px;

	/* Critical. */
	--Critical-backgroundColor: var(--critical-color-600);

	/* Warning. */
	--Warning-color: var(--black-color);
	--Warning-backgroundColor: #EFEB00;

	/* Content. */
	--Content-color-900: initial;
	--Content-backgroundColor--active: initial;
	--Content-fontWeight--bold: bolder;

	/* Post. */
	--Post-paddingTop: 1em;
	--Post-paddingBottom: var(--Post-paddingTop);
	--Post-paddingTop--compact: 0.9em;
	--Post-paddingBottom--compact: var(--Post-paddingTop--compact);
	--Post-paddingLeft: var(--ContentSection-padding--horizontal);
	--Post-paddingRight: var(--Post-paddingLeft);
	@mixin xl-plus {
		--Post-paddingLeft: calc(var(--unit) * 2);
	}
	/* Textual content has some inherent bottom spacing due to line height.
	   Other content (attachment thumbnails, embedded pictures and videos)
	   doesn't have such extra visual spacing. Therefore, vertical margin
	   is slightly reduced for text in order for it to be visually similar
	   to the vertical spacing of other content like embedded pictures/videos. */
	--Post-textLineHeightBlankSpace: 0.25em;
	@mixin upto-m {
		/* Don't reduce the spacing between text paragraphs on small screens,
		   because `--PostContent-marginTop` is already small on such screens. */
		--Post-textLineHeightBlankSpace: 0em;
	}
	--Post-fontWeight--secondary: 300;
	--Post-backgroundColor: var(--Content-backgroundColor);
	--Post-transition: none;
	--Post-transition--onClick: background-color 60ms;
	--PostContent-marginTop: 1.5em;
	--PostContent-marginTop--compact: 0.6em;
	--PostContentBlock-marginTop: 2em;
	--PostContentBlock-marginTop--compact: var(--PostContent-marginTop--compact);
	@mixin upto-m {
		--PostContent-marginTop--compact: 0.3em;
	}

	/* PostTitle. */
	/*--PostTitle-marginTop: var(--PostContent-marginTop);*/
	/*--PostTitle-marginTop--compact: var(--PostTitle-marginTop);*/
	--PostTitle-marginBottom: var(--PostContent-marginTop);
	/* No margin bottom seems ok. */
	/*--PostTitle-marginBottom: 0px;*/
	/*--PostTitle-marginBottom--compact: var(--PostTitle-marginBottom);*/
	--PostTitle-fontSize: 1.17em;
	--PostTitle-fontWeight: normal;

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-opacity: initial;
	--PostInlineSpoiler-opacity--censored: initial;
	--PostInlineSpoiler-transition: none;
	--PostInlineSpoiler-transition--onClick: var(--Post-transition--onClick);

	/* PostQuoteBlock (defaults). */
	--PostQuoteBlock-paddingLeft: var(--Post-paddingLeft);
	--PostQuoteBlock-paddingRight: var(--Post-paddingLeft);
	--PostQuoteBlock-borderWidth: 0px;
	--PostQuoteBlock-borderWidth--left: 0px;
	--PostQuoteBlock-borderWidth--right: 0px;
	--PostQuoteBlock-marginTop: 0px;
	--PostQuoteBlock-marginBottom: 0px;
	--PostQuoteBlock-marginLeft: 0px;
	--PostQuoteBlock-marginRight: 0px;

	/* PostQuoteBlock (regular). */
	--PostQuoteBlock-color: initial;
	--PostQuoteBlock-backgroundColor: initial;
	--PostQuoteBlock-backgroundColor--hover: var(--PostQuoteBlock-backgroundColor);
	/*--PostQuoteBlock-borderColor: var(--PostQuoteBlock-backgroundColor);*/
	/*--PostQuoteBlock-borderColor--hover: var(--PostQuoteBlock-backgroundColor--hover);*/

	/* PostCode. */
	--PostCode-marginLeft: var(--PostQuoteBlock-marginLeft);
	--PostCode-marginRight: var(--PostQuoteBlock-marginRight);
	--PostCode-marginTop--block: 0.5em;
	--PostCode-paddingLeft--inline: 0.25em;
	--PostCode-borderWidth: 1px;
	--PostCode-borderLeftWidth: 0px;
	--PostCode-borderRightWidth: 0px;

	/* PostSocial. */
	--PostSocial-paddingLeft: var(--PostQuoteBlock-paddingLeft);
	--PostSocial-paddingRight: var(--PostQuoteBlock-paddingRight);
	--PostSocial-borderWidth: 1px;
	--PostSocial-borderLeftWidth: 0px;
	--PostSocial-borderRightWidth: 0px;

	/* PostQuoteBlock (generated). */
	--PostQuoteBlock-color--generated: var(--PostQuoteBlock-color);
	--PostQuoteBlock-backgroundColor--generated: var(--PostQuoteBlock-backgroundColor);
	--PostQuoteBlock-backgroundColor--generated--hover: var(--PostQuoteBlock-backgroundColor--generated);
	/*--PostQuoteBlock-borderColor--generated: var(--PostQuoteBlock-backgroundColor--generated);*/
	/*--PostQuoteBlock-borderColor--generated--hover: var(--PostQuoteBlock-backgroundColor--generated--hover);*/
	/*--PostQuoteBlock-borderWidth--generated: 0px;*/
	/*--PostQuoteBlock-marginTop--generated: 0px;*/
	/*--PostQuoteBlock-marginBottom--generated: var(--PostQuoteBlock-marginTop--generated);*/
	--PostQuoteBlock-borderWidth--generated: var(--PostQuoteBlock-borderWidth);
	--PostQuoteBlock-marginTop--generated: var(--PostQuoteBlock-marginTop);
	--PostQuoteBlock-marginBottom--generated: var(--PostQuoteBlock-marginBottom);

	/* PostQuoteBorderLeft (constants). */
	--PostQuoteBorderLeft-marginTop--standalone: 0.2em;

	/* PostQuoteBorderLeft. */
	--PostQuoteBorderLeft-color: currentColor;
	--PostQuoteBorderLeft-opacity: 0.25;
	--PostQuoteBorderLeft-width: 2px;
	--PostQuoteBorderLeft-marginTop: var(--PostQuoteBorderLeft-marginTop--standalone);
	--PostQuoteBorderLeft-left: calc(var(--PostQuoteBlock-paddingLeft) / 2);
	@mixin upto-s {
		--PostQuoteBorderLeft-left: calc(var(--PostQuoteBlock-paddingLeft) * 1/4);
	}

	/* PostQuoteBlockBorderLeft. */
	--PostQuoteBlockBorderLeft-color: var(--PostQuoteBorderLeft-color);
	--PostQuoteBlockBorderLeft-opacity: var(--PostQuoteBorderLeft-opacity);
	--PostQuoteBlockBorderLeft-width: var(--PostQuoteBorderLeft-width);
	--PostQuoteBlockBorderLeft-marginTop: var(--PostQuoteBorderLeft-marginTop--standalone);

	/* PostQuoteBlockBorderLeft (generated). */
	--PostQuoteBlockBorderLeft-color--generated: var(--PostQuoteBlockBorderLeft-color);
	--PostQuoteBlockBorderLeft-opacity--generated: var(--PostQuoteBlockBorderLeft-opacity);
	--PostQuoteBlockBorderLeft-width--generated: var(--PostQuoteBlockBorderLeft-width);
	--PostQuoteBlockBorderLeft-marginTop--generated: var(--PostQuoteBorderLeft-marginTop--standalone);
	--PostQuoteBlockBorderLeft-color--generated: currentColor;

	/* PostInlineQuote. */
	--PostInlineQuote-paddingLeft: 0.1em;

	/* PostQuoteLink (minimized). */
	--PostQuoteLink-marginTop--minimizedFirst: 0px;
	--PostQuoteLink-paddingTop--minimizedFirst: var(--unit);
	--PostQuoteLink-paddingLeft--minimized: calc(var(--unit) * 0.5);
	--PostQuoteLink-color--minimized: var(--Content-color-300);
	--PostQuoteLink-color--minimizedHover: var(--PostQuoteLink-color--minimized);
	/*--PostQuoteLink-color--minimizedHover: var(--PostQuoteBlock-color--generated);*/
	--PostQuoteLink-backgroundColor--minimizedHover: var(--PostQuoteBlock-backgroundColor--generated);
	--PostQuoteLink-borderColor--minimizedHover: var(--PostQuoteBlock-borderColor--generated);

	/* PostReadMore. */
	--PostReadMore-color: var(--Clickable-color--text);
	--PostReadMore-fontWeight: 500;

	/* PostAttachment. */
	/*--PostAttachment-focusOutlineWidth: 2px;*/

	/* PostButton. */
	--PostButton-paddingLeft: calc(var(--unit) / 3);
	--PostButton-paddingTop: calc(var(--unit) / 4);

	/* HoverButton. */
	--HoverButton-color: inherit;
	--HoverButton-backgroundColor: var(--gray-color-transparent);
	--HoverButton-backgroundColor--pushed: var(--HoverButton-backgroundColor--active);
	--HoverButton-borderColor--pushedFocus: var(--HoverButton-borderColor--pushedActive);
	--HoverButton-backgroundColor--pushedActive: var(--HoverButton-backgroundColor--active);
	--HoverButton-borderRadius: 0px;

	/* CommentTree. */
	--CommentTree-padding: var(--Post-paddingLeft);
	--CommentTree-borderWidth: 1px;
	--CommentTree-borderStyle: dashed;
	--CommentTree-borderStyle--branch: solid;
	/* Approximate offset top so that it points to the first line of text in a comment. */
	--CommentTreeBranch-marginTop--content: 1.6em;
	@mixin upto-xs {
		--CommentTreeBranch-marginTop--content: 1.9em;
	}
	--CommentTreeBranch-marginTop: calc(var(--Post-paddingTop) + var(--CommentTreeBranch-marginTop--content));
	--CommentTreeBranch-paddingLeft--firstLevel: 0;

	/* Slideshow. */
	/*--Slideshow-Slide-boxShadow: 0 0 0 6px white, 0 8px 34px rgba(0,0,0,0.3), 0 4px 15px rgba(0,0,0,0.2);*/
	/*--Slideshow-Slide-boxShadow: 0 10px 38px rgba(0,0,0,0.2), 0 6px 12px rgba(0,0,0,0.16);*/
	--Slideshow-Slide-boxShadow: 0 10px 38px rgba(0,0,0,0.3), 0 6px 12px rgba(0,0,0,0.2);
	--Slideshow-Slide-backgroundColor: var(--Content-color-100);
	--Slideshow-Slide-backgroundColor--video: black;
	--Slideshow-PaginationDot-borderWidth: 1px;
	--Slideshow-PaginationDot-borderColor: rgba(0, 0, 0, 0.5);
	--Slideshow-PaginationDot-borderWidth--highContrast: 2px;
	--Slideshow-PaginationDot-borderColor--highContrast: black;
	--Slideshow-PaginationDot-backgroundColor: rgba(255, 255, 255, 0.7);
	--Slideshow-PaginationDot-backgroundColor--selected: var(--Clickable-color--active);
	--Slideshow-PaginationDot-opacity: 0.8;
	--Slideshow-zIndex: 1;
	--Slideshow-Control-backgroundColor: rgba(0,0,0,0.7);
	--Slideshow-Control-backgroundColor--active: var(--Clickable-color--active);
	--Slideshow-Control-color: var(--white-color);
	--Slideshow-Control-color--focus: var(--Clickable-color--active);
	--Slideshow-Control-color--active: var(--white-color);
	--Slideshow-Control-fontWeight: 300;
	--Slideshow-Control-height: calc(var(--unit) * 3);
	--Slideshow-Control-margin: var(--unit);
	/* `--Slideshow-Control-paddingLeft` is used on "wide" action buttons. */
	--Slideshow-Control-paddingLeft: calc((var(--Slideshow-Control-height) - 1em) / 2);
	@mixin xxs {
		--Slideshow-Control-margin: calc(var(--unit) / 2);
	}
	@mixin l-plus {
		--Slideshow-Control-height: calc(var(--unit) * 3.5);
	}
	--Slideshow-DragAndScaleModeButton-height: calc(var(--unit) * 3);
	--Slideshow-DragAndScaleModeButton-marginBottom: 0px;
	@mixin xxs {
		--Slideshow-DragAndScaleModeButton-marginBottom: calc(var(--unit) / 2);
	}
}

/* Light mode. */
.light {
	/* Document. */
	--Document-backgroundColor: #eaeaea;

	/* Header. */
	--Header-color: var(--Content-color-800);
	--Header-backgroundColor: var(--Content-backgroundColor);
	--Header-borderColor: rgba(0,0,0,.11);

	/* Menu. */
	--Menu-color--active: var(--gray-color-650);

	/* BackButton. */
	--BackButton-backgroundColor--hover: rgba(0,0,0,0.01);
	--BackButton-borderColor--hover: rgba(0,0,0,0.04);

	/* Clickable. */
	--Clickable-color--text: var(--base-color-700);
	--Clickable-color--textActive: var(--base-color-600);
	--Clickable-color: var(--base-color-500);
	--Clickable-color--active: var(--base-color-400);

	/* Picture. */
	--Picture-borderColor: rgba(0, 0, 0, 0.1);
	--Picture-borderColor--focus: var(--Picture-borderColor);
	--Picture-filter: none;

	/* Critical. */
	--Critical-color: var(--critical-color-600);

	/* Selection. */
	--Selection-color: var(--Content-color-900);
	--Selection-backgroundColor: var(--base-color-300);

	/* Content. */
	--Content-backgroundColor: var(--white-color);
	--Content-color-50:  var(--gray-color-50);
	--Content-color-100: var(--gray-color-100);
	--Content-color-200: var(--gray-color-200);
	--Content-color-300: var(--gray-color-300);
	--Content-color-400: var(--gray-color-400);
	--Content-color-500: var(--gray-color-500);
	--Content-color-600: var(--gray-color-600);
	--Content-color-700: var(--gray-color-700);
	--Content-color-800: var(--gray-color-800);
	--Content-color-900: var(--gray-color-900);

	/* ContentSection. */
	/* `--ContentSection-borderColor` is not used currently. */
	--ContentSection-borderColor: #e3e4e8;
	--ContentSection-shadowColor: hsla(210,7%,61%,.15);

	/* Post. */
	--Post-color--secondary: var(--Content-color-500);

	/* PostVotes. */
	--PostVotes-color--positive: #008800;
	--PostVotes-color--negative: #b50000;

	/* PostQuoteBlock. */
	/*--PostQuoteBlock-color: #268000;*/
	/*--PostQuoteBlock-backgroundColor: #dfffcb;*/
	/*--PostQuoteBlock-borderColor: #c9f6ac;*/
	--PostQuoteBlock-color: #386b00;
	--PostQuoteBlock-backgroundColor: #efffd9;
	--PostQuoteBlock-borderColor: #d4ecad;
	--PostQuoteBlock-borderWidth: 1px;
	--PostQuoteBlock-marginTop: 4px;
	--PostQuoteBlock-marginBottom: var(--PostQuoteBlock-marginTop);

	/* PostQuoteBlockBorderLeft. */
	--PostQuoteBlockBorderLeft-marginTop: 0px;

	/* PostQuoteBlock (generated). */
	--PostQuoteBlock-color--generated: #87481b;
	--PostQuoteBlock-backgroundColor--generated: #fff7ed;
	--PostQuoteBlock-borderColor--generated: #f4d7bc;

	/* PostQuoteBlockBorderLeft (generated). */
	--PostQuoteBlockBorderLeft-opacity--generated: 1;
	--PostQuoteBlockBorderLeft-color--generated: #e6bb85;
	--PostQuoteBlockBorderLeft-marginTop--generated: 0px;

	/* PostSocial. */
	--PostSocial-backgroundColor: rgba(0,0,0,0.03);
	--PostSocial-backgroundColor--active: rgba(0,0,0,0.02);
	--PostSocial-borderColor: rgba(0,0,0,0.06);

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color: var(--Content-color-100);
	--PostInlineSpoiler-color--contentActive: var(--PostInlineSpoiler-color);
	--PostInlineSpoiler-color--censored: #f0e1e1;
	--PostInlineSpoiler-color--censoredContentActive: #f2dccb;

	/* PostAttachment. */
	/*--PostAttachment-shadowColor--hover: rgba(0,0,0,0.15);*/
	/*--PostAttachment-shadowColor--focus: rgba(0,0,0,0.15);*/

	/* CommentTree. */
	--CommentTree-color: var(--base-color-300);
	--CommentTree-color--branch: var(--CommentTree-color);
	--CommentTree-color--hover: var(--base-color-400);
	--CommentTree-backgroundColor--hover: rgba(0,0,0,0.044);

	/* HoverButton. */
	--HoverButton-color--active: initial;
	--HoverButton-color--pushed: var(--base-color-700);
	--HoverButton-color--pushedActive: var(--base-color-600);
	--HoverButton-backgroundColor--active: var(--base-color-100);
	--HoverButton-backgroundColor--pushed: var(--HoverButton-backgroundColor--active);
	--HoverButton-borderColor: var(--Content-color-100);
	--HoverButton-borderColor--active: var(--HoverButton-borderColor);
	--HoverButton-borderColor--pushed: var(--HoverButton-borderColor--active);
	--HoverButton-borderColor--pushedActive: var(--Content-color-200);
}

/* Dark Mode. */
.dark {
	/* Document. */
	--Document-backgroundColor: #202020;

	/* Header. */
	--Header-color: var(--Content-color-900);
	--Header-backgroundColor: var(--Content-color-100);
	--Header-borderColor: rgba(255,255,255,.04);

	/* Menu. */
	--Menu-color--active: var(--Content-color-600);

	/* BackButton. */
	--BackButton-backgroundColor--hover: rgba(255,255,255,0.02);
	--BackButton-borderColor--hover: rgba(255,255,255,0.04);

	/* Notification. */
	--Notification-color: var(--Content-color-900);
	--Notification-backgroundColor: var(--Content-backgroundColor);
	--Notification-borderColor: var(--Content-color-400);
	--Notification-borderWidth: 1px;
	--Notification-borderRadius: 0px;

	/* Critical. */
	--Critical-color: var(--critical-color-400);

	/* Selection. */
	--Selection-color: var(--Content-color-900);
	--Selection-backgroundColor: var(--Content-color-800);

	/* Content. */
	/* https://refactoringui.com/previews/building-your-color-palette */
	--Content-color-50:  #3f3f3f;
	--Content-color-100: #444444;
	--Content-color-200: #555555;
	--Content-color-300: #646464;
	--Content-color-400: #717171;
	--Content-color-500: #797979;
	--Content-color-600: #888888;
	--Content-color-700: #989898;
	--Content-color-800: #a0a0a0;
	--Content-color-900: #b9b9b9;
	--Content-backgroundColor: #383838;
	/* The default "bold" font weight is too bold
	   for white text on black background. */
	--Content-fontWeight--bold: 500;

	/* ContentSection. */
	/* `--ContentSection-borderColor` is not used currently. */
	--ContentSection-borderColor: #e3e4e8;
	--ContentSection-shadowColor: rgba(0,0,0,0.5);

	/* Clickable. */
	--Clickable-color: var(--base-color-400);
	--Clickable-color--active: var(--base-color-500);
	--Clickable-color--text: var(--base-color-300);
	--Clickable-color--textActive: var(--base-color-400);

	/* Modal. */
	--Modal-borderColor: var(--Content-color-100);
	--Modal-borderWidth: 1px;

	/* Picture. */
	--Picture-borderColor: transparent;
	--Picture-borderColor--focus: var(--Picture-borderColor);
	/*--Picture-borderColor--focus: var(--Content-color-500);*/
	--Picture-filter: brightness(85%);

	/* Post. */
	--Post-color--secondary: var(--Content-color-600);

	/* PostVotes. */
	--PostVotes-color--positive: #83ff5a;
	--PostVotes-color--negative: #ff5454;

	/* PostQuoteBlock. */
	--PostQuoteBlock-color: #83c362;
	/*--PostQuoteBlock-backgroundColor: #82c45f;*/
	/*--PostQuoteBlock-borderColor: #f4d7bc;*/

	/* PostQuoteBlockBorderLeft. */
	--PostQuoteBlockBorderLeft-opacity: 0.65;
	--PostQuoteBlockBorderLeft-marginTop: var(--PostQuoteBorderLeft-marginTop--standalone);

	/* PostQuoteBlock (generated). */
	--PostQuoteBlock-color--generated: #bb8662;
	/*--PostQuoteBlock-backgroundColor--generated: #46382f;*/
	/*--PostQuoteBlock-borderColor--generated: #4e4035;*/

	/* PostQuoteBlockBorderLeft (generated). */
	--PostQuoteBlockBorderLeft-opacity--generated: 0.65;
	--PostQuoteBlockBorderLeft-marginTop--generated: var(--PostQuoteBorderLeft-marginTop--standalone);

	/* PostQuoteLink (minimized). */
	--PostQuoteLink-backgroundColor--minimizedHover: rgba(255,255,255,0.05);

	/* PostSocial. */
	--PostSocial-backgroundColor: rgba(255,255,255,0.03);
	--PostSocial-backgroundColor--active: rgba(255,255,255,0.02);
	--PostSocial-borderColor: rgba(255,255,255,0.06);

	/* PostInlineSpoiler. */
	--PostInlineSpoiler-color: #494949;
	--PostInlineSpoiler-color--contentActive: #454545;
	--PostInlineSpoiler-color--censored: #62504f;
	--PostInlineSpoiler-color--censoredContentActive: #5c4a49;

	/* PostReadMore. */
	--PostReadMore-color: var(--PostQuoteBlock-color--generated);
	--PostReadMore-fontWeight: normal;

	/* PostAttachment. */
	/*--PostAttachment-shadowColor--hover: rgba(100,100,100,0.2);*/
	/*--PostAttachment-shadowColor--focus: rgba(255,255,255,0.2);*/

	/* CommentTree. */
	--CommentTree-color: var(--base-color-800);
	--CommentTree-color--branch: var(--CommentTree-color);
	--CommentTree-color--hover: var(--base-color-700);
	--CommentTree-backgroundColor--hover: var(--Content-color-100);

	/* HoverButton. */
	--HoverButton-color--active: var(--base-color-300);
	--HoverButton-color--pushed: var(--base-color-400);
	--HoverButton-color--pushedActive: var(--HoverButton-color--active);
	--HoverButton-backgroundColor--active: var(--Content-color-200);
	--HoverButton-borderColor: var(--Content-color-200);
	--HoverButton-borderColor--active: var(--Content-color-300);
	--HoverButton-borderColor--pushed: var(--HoverButton-borderColor);
	--HoverButton-borderColor--pushedActive: var(--HoverButton-borderColor--active);
}