@import "../styles/common";

:root
{
	--account-profile-short-info-name-border-size  : 0.05em;
	--account-profile-short-info-name-border-color : var(--black-color);

	--account-profile-tabs-height : calc(var(--unit) * 7);

	@mixin xs
	{
		--account-profile-tabs-height : calc(var(--unit) * 5);
	}
}

/*
// .account-profile__background-picture
// {
// 	.upload-picture__change-overlay
// 	{
// 		justify-content : center;
// 		padding-right   : 0;
// 	}
// }
*/

.account-profile .account-summary
{
	margin-top : calc(var(--unit) * 4);
	margin-bottom : calc(var(--unit) * 2);

	@mixin xs
	{
		margin-top : calc(var(--unit) * 2);
	}

	@mixin ms
	{
		margin-top : calc(var(--unit) * 3);
	}

	@mixin sm
	{
		margin-bottom : 0;
	}
}

.account-profile .account-actions
{
	margin-bottom : calc(var(--unit) * 1);

	@mixin xs
	{
		margin-bottom : calc(var(--unit) * 1);
	}
}