@import "../styles/common";

:root
{
	--content-column-width       : calc(var(--unit) * 135);

	--account-profile-short-info-name-border-size  : 0.05em;
	--account-profile-short-info-name-border-color : var(--black-color);

	--account-profile-tabs-height : calc(var(--unit) * 7);

	@mixin xs
	{
		--account-profile-tabs-height : calc(var(--unit) * 5);
	}
}

/* Layout */

.account-profile__body
{
	display        : flex;
	flex-direction : column;
}

.account-profile__content
{
	position : relative;

	/* https://www.mobila.name/post/55c3b664d1e6e/ */
	max-width    : var(--content-column-width);
	margin-left  : auto;
	margin-right : auto;
}

.account-profile__right-aside
{
	display : none;
}

/*
// .account-profile__background-picture
// {
// 	.upload-picture__change-overlay
// 	{
// 		justify-content : center;
// 		padding-right   : 0;
// 	}
// }
*/

.account-profile__body
{
	flex-direction : row;
}

.account-profile__left-aside
{
	flex-basis  : calc(var(--unit) * 40);
	flex-grow   : 1;
	flex-shrink : 1;
}

.account-profile__content
{
	max-width : none;
	/* https://www.mobila.name/post/55c3b664d1e6e/ */
	flex-basis  : var(--content-column-width);
	flex-grow   : 0;
	flex-shrink : 1;
}

.account-profile__right-aside
{
	display     : block;
	flex-basis  : auto;
	flex-grow   : 3;
	flex-shrink : 1;
}

.account-profile .account-tabs-section
{
	/*margin-bottom : calc(var(--content-section-margin) * -1 + 1px);*/
}