@import "../styles/common";

:root
{
	--content-column-width       : calc(var(--unit) * 135);

	--account-profile-short-info-name-border-size  : 0.05em;
	--account-profile-short-info-name-border-color : var(--black-color);

	/*--account-profile-edit-buttons-side-padding : calc(var(--unit) * 2);*/
	/*--account-profile-edit-actions-height : calc(var(--unit) * 7);*/

	--account-profile-tabs-height : calc(var(--unit) * 7);
	--account-profile-picture-size : calc(var(--unit) * 18);

	--account-profile-picture-bottom-offset : calc(var(--unit) * 2.5);

	@mixin xs
	{
		/*--account-profile-edit-buttons-side-padding : calc(var(--unit) * 0.75);*/
		/*--account-profile-edit-actions-height : calc(var(--unit) * 5);*/

		--account-profile-tabs-height : calc(var(--unit) * 5);
		--account-profile-picture-size : calc(var(--unit) * 14);

		--account-profile-picture-bottom-offset : calc(var(--unit) * 2);
	}
}

.account-profile__background-picture-container
{
	min-height : calc(var(--account-profile-picture-size) + var(--unit));
	background-color : var(--gray-color);
}

.account-profile__tabs
{
	height : var(--account-profile-tabs-height);
}

.account-profile
{
	.rrui__text-input__input
	{
		width: 100%;
	}
}

/* Short info (to the right of the account picture) */

.account-profile__name,
.account-profile__name-input
{
	position : absolute;
	left     : calc(var(--content-section-padding) + var(--content-section-margin) + var(--account-profile-picture-size));
	bottom   : 0;
	z-index  : 1;

	margin-left   : calc(var(--unit) * 2.5);
	margin-bottom : calc(var(--unit) * 1.5);

	font-size : 3rem;
	color : var(--white-color);
	text-shadow : 0 0 0.2em rgba(0, 0, 0, 0.8);

	@mixin xs
	{
		margin-left   : calc(var(--unit) * 1.5);
		margin-bottom : calc(var(--unit) * 1.5);
		font-size : 2rem;
	}
}

.account-profile__name
{
	&, &:hover
	{
		text-decoration: none;
	}
}

.account-profile__name-input
{
	.rrui__input
	{
		height: 1.2em;
	}

	.rrui__input-field
	{
		color: inherit;
		border-color: var(--white-color);
	}
}

/* Background picture */

.account-profile__background-picture
{
	position : absolute;
	z-index  : 1;
	height   : 100%;
	width    : 100%;

	.picture__image
	{
		height : 100%;
	}
}

/*
@include xl
{
	.account-profile__tabs-container
	{
		position : relative;
		top      : calc(-1 * var(--content-section-margin) / 2);
	}
}
*/

/*
.account-profile__background-picture-shadow
{
	position : absolute;
	z-index  : 1;
	height   : 100%;
	width    : 100%;
	background : linear-gradient(rgba(0,0,0,0) 71%, rgba(0,0,0, .53));
}
*/

.account-profile__background-picture-toggler--off
{
	pointer-events : none;
}

.account-profile__background-picture-container
{
	/*
	display        : flex;
	align-items    : center;
	flex-direction : column;
	*/

	position : relative;
	height   : 25vw;
	/*max-height : calc(var(--unit) * 35);*/
	border-bottom : 1px solid rgba(0, 0, 0, 0.1);
}

/* Account picture. */

.account-profile__picture-container
{
	position : absolute;
	left : calc(var(--content-section-padding) + var(--content-section-margin));
	z-index  : 1;

	width  : var(--account-profile-picture-size);
	height : var(--account-profile-picture-size);

	bottom : calc(-1 * var(--account-profile-picture-bottom-offset));
}

.account-profile__picture,
.account-profile__uploadable-picture .rrui__file-upload__area
{
	border-radius : var(--border-radius);
}

.account-profile__uploadable-background-picture
{
	height : 100%;
}

.account-profile__picture .picture__image,
.account-profile__uploadable-picture .uploadable-picture__change-overlay
{
	border : 0.12rem solid var(--white-color);
}

/* Edit actions */

.account-profile__edit-actions
{
	position : absolute;
	right    : var(--content-section-margin);
	top      : var(--content-section-margin);
	z-index  : 1;
}

/* Account info. */

.account-info__description
{
	margin-bottom : var(--unit);
}

/* "Last seen" */

.account-profile__last-seen
{
	display     : flex;
	align-items : center;

	margin-top : calc(var(--unit) * 1);
	color : var(--gray-color-darkest);
}

.account-profile__last-seen-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);

	width  : 1em;
	height : 1em;

	fill : var(--gray-color-darkest);
}

.account-profile--editing
{
	.account-profile__last-seen
	{
		display: none;
	}
}

/* Actions ("Send message", etc) */

.account-profile__actions
{
	margin-top: calc(var(--unit) * 4);
}

.account-profile__action
{
	.rrui__button__contents
	{
		display     : flex;
		align-items : center;
	}
}

.account-profile__action
{
	height : calc(var(--unit) * 5);
}

.account-profile__action-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);
	fill          : var(--base-color-dark);
	transition    : var(--button-icon-transition);
}

.account-profile__action:active
{
	.account-profile__action-icon
	{
		fill : var(--base-color);
	}
}

/* Tabs */

.account-profile__tabs-container
{
	text-align : right;
}

.account-profile__tabs
{
	display          : inline-block;
	margin-left      : auto;
	margin-right     : auto;
	white-space      : nowrap;
}

.account-profile__tab
{
	display : inline-block;
	height  : 100%;
}

.account-profile__tab-button
{
	height      : 100%;
	display     : inline-flex;
	align-items : center;

	padding-left  : var(--unit);
	padding-right : var(--unit);

	color : var(--black-color);
}

.account-profile__tab
{
	border-bottom : calc(var(--unit) / 2) solid transparent;
}

.account-profile__tab--selected
{
	border-color : var(--base-color);

	.account-profile__tab-button
	{
		cursor : default;
	}
}

/* Layout */

.account-profile__body
{
	display        : flex;
	flex-direction : column;
}

.account-profile__content
{
	position : relative;

	/* https://www.mobila.name/post/55c3b664d1e6e/ */
	max-width    : var(--content-column-width);
	margin-left  : auto;
	margin-right : auto;
}

.account-profile__right-aside
{
	display : none;
}

/*
// .account-profile__background-picture
// {
// 	.upload-picture__change-overlay
// 	{
// 		justify-content : center;
// 		padding-right   : 0;
// 	}
// }
*/

.account-profile__tabs-container
{
	text-align : center;
}

.account-profile__body
{
	flex-direction : row;
}

.account-profile__info
{
	flex-basis  : calc(var(--unit) * 40);
	flex-grow   : 1;
	flex-shrink : 1;
}

.account-profile__content
{
	max-width : none;
	/* https://www.mobila.name/post/55c3b664d1e6e/ */
	flex-basis  : var(--content-column-width);
	flex-grow   : 0;
	flex-shrink : 1;
}

.account-profile__right-aside
{
	display     : block;
	flex-basis  : auto;
	flex-grow   : 3;
	flex-shrink : 1;
}

.account-profile
{
	.rrui__text-input__input
	{
		width: calc(var(--unit) * 50);
	}
}

.account-profile--editing
{
	.account-profile__tabs-container
	{
		display: none;
	}
}