@import "../styles/common";

:root
{
	--account-tabs-active-tab-marker-height : 0.13em;
}

/* Tabs */

.account-tabs
{
	display     : block;
	height      : calc(var(--unit) * 4);
	margin      : 0;
	margin-top  : var(--unit);
	padding     : 0;
	white-space : nowrap;
	/*background-color : var(--white-color);*/
	/*border-bottom : 1px solid var(--gray-color-lightest);*/

	@mixin sm
	{
		height : calc(var(--unit) * 3);

		/*background-color : var(--white-color);
		border-bottom : none;
		border-radius : var(--border-radius);
		box-shadow : var(--content-section-shadow);*/

		/*
		.account-tabs__tab
		{
			&:first-child
			{
				.account-tabs__tab-link--active
				{
					border-bottom-left-radius : var(--border-radius);
				}
			}

			&:last-child
			{
				.account-tabs__tab-link--active
				{
					border-bottom-right-radius : var(--border-radius);
				}
			}
		}
		*/
	}
}

.account-tabs__tab
{
	display : inline-flex;
	align-items : center;
	height : 100%;

	margin-right : calc(var(--unit) * 2);

	@mixin xl
	{
		margin-right : calc(var(--unit) * 3);
	}

  @media all and (max-width: 390px)
  {
		margin-right : calc(var(--unit) * 1);
  }

	&:last-child
	{
		margin-right : 0;
	}
}

.account-tabs__tab-link
{
	display : flex;
	height  : calc(var(--unit) * 3);
	align-items : center;

	color : var(--gray-color-darkest);

	padding-top   : var(--account-tabs-active-tab-marker-height);
	border-bottom : var(--account-tabs-active-tab-marker-height) solid transparent;

	transition : color 60ms ease-in-out;

	padding-left : 0.1em;
	padding-right : 0.1em;

	/*
	padding-left : var(--unit);
	padding-right : var(--unit);

	&:first-child {
		padding-left : var(--content-section-padding);
	}

	&:last-child {
		padding-right : var(--content-section-padding);
	}
	*/

	&, &:hover {
		text-decoration : none;
	}

	/*&:hover {
		color : var(--base-color);
	}*/
}

.account-tabs__tab-link--active
{
	border-color : var(--base-color);
	cursor : default;

	color : var(--black-color);

	&:hover {
		color : var(--black-color);
	}
}