@import "../styles/common";

/* Actions ("Send message", etc) */

.account-actions
{
	margin-top: calc(var(--unit) * 2);
}

.account-action
{
	display     : flex;
	align-items : center;
}

.account-action__icon
{
	margin-right  : 0.3em;
	fill          : currentColor;
	transition    : var(--button-icon-transition);
}
