@import "../styles/common";

.account-summary
{
	position : relative;
}

.account-summary__name,
.account-summary__name-input
{
	font-size : 1.8rem;
	color : var(--black-color);
}

.account-summary__icon
{
	height : 1em;
	margin-right : 0.3em;
	transform : translateY(10%);
	fill : currentColor;
}

.account-summary__description
{
	margin-top : var(--unit);
}

.account-summary__whereabouts
{
	color : var(--gray-color-darkest);
}

.account-summary__links
{
	margin-bottom : 0;
	padding : 0;
	list-style-type : none;
}

.account-summary__whereabouts,
.account-summary__links {
	margin-top : calc(var(--unit) * 2);
	@mixin upto-m {
		margin-top : calc(var(--unit) * 1);
	}
}

.account-summary__link
{
	display : inline-block;
	line-height : var(--line-height);
	color : var(--black-color);

	&:hover {
		color : var(--base-color);
	}
}

/* "Last seen" */

/*
.account-summary__last-seen
{
	display     : flex;
	align-items : center;

	margin-top : calc(var(--unit) * 1);
	color : var(--gray-color-darkest);
}

.account-summary__last-seen-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);

	width  : 1em;
	height : 1em;

	fill : var(--gray-color-darkest);
}
*/