@import "../styles/common";

:root
{
	--account-tabs-height : calc(var(--unit) * 4);
	--account-tabs-active-tab-marker-height : 0.2em;

	@mixin xs
	{
		/*--account-tabs-height : calc(var(--unit) * 5);*/
	}
}

/* Tabs */

.account-tabs
{
	display     : block;
	height      : var(--account-tabs-height);
	margin      : 0;
	padding     : 0;
	white-space : nowrap;
	/*background-color : var(--white-color);*/
}

.account-tabs__tab
{
	display : inline-block;
	height  : 100%;
}

.account-tabs__tab-link
{
	display : flex;
	height  : 100%;
	align-items : center;

	color : var(--black-color);

	padding-top   : var(--account-tabs-active-tab-marker-height);
	border-bottom : var(--account-tabs-active-tab-marker-height) solid transparent;

	transition : all 60ms ease-in-out;

	padding-left : var(--content-section-padding);
	padding-right : var(--content-section-padding);

	/*
	padding-left : var(--unit);
	padding-right : var(--unit);

	&:first-child {
		padding-left : var(--content-section-padding);
	}

	&:last-child {
		padding-right : var(--content-section-padding);
	}
	*/

	&, &:hover {
		text-decoration : none;
	}

	&:hover {
		/*border-color : var(--base-color);*/
		color : var(--base-color);
	}
}

.account-tabs__tab
{
	&:first-child {
		.account-tabs__tab-link {
			border-bottom-left-radius: var(--border-radius);
		}
	}

	&:last-child {
		.account-tabs__tab-link {
			border-bottom-left-radius: var(--border-radius);
		}
	}
}

.account-tabs__tab-link--active
{
	font-weight  : bolder;

	border-color : var(--base-color);
	cursor : default;

	&:hover {
		color : var(--black-color);
	}
}