@import "../styles/common";

/* Actions ("Send message", etc) */

.account-actions
{
	@mixin m
	{
		display : flex;
		justify-content : space-between;
	}
}

.account-action
{
	margin-top : var(--unit);
	width : 100%;

	@mixin m
	{
		width : calc((100% - var(--unit)) / 2);
	}
}

.account-action__icon
{
	margin-right  : 0.3em;
	fill          : currentColor;
	transition    : var(--button-icon-transition);
}
