/* Reset the default `<button/>` styles */
.Button {
	margin      : 0;
	padding     : 0;
	white-space : nowrap;
	appearance  : none;
	border      : none;
	background  : none;
	color       : inherit;
	font-size   : inherit;
	font-family : inherit;
	font-weight : inherit;
	font-style  : inherit;
	user-select : none;
	/* box-sizing  : border-box; */
}

/* This CSS class can be used on its own in applications. */
/* Because of that, `outline: none` is added here too. */
/* Developers should define `:focus` styles for buttons. */
/* Didn't add `:focus` specifier for lesser CSS rule priority. */
.Button:not(.Outline--default) {
	outline : none;
}

.Button:not([disabled]) {
	cursor: pointer;
}

.Button {
	/* Remove the `line-height`-induced vertical space. */
	display: flex;
	/* Center content. */
	align-items: center;
	justify-content: center;
}

.Button--wait {
	cursor: wait;
}

.Button--text {
	height: auto;
	color: var(--Clickable-color--text);
	border-bottom: 1px solid transparent;

	&:focus {
		border-bottom-color: currentColor;
	}

	&:active {
		color: var(--Clickable-color--textActive);
	}
}

.Button--fill {
	color: var(--Content-backgroundColor);
	background-color: var(--Clickable-color);
	padding-left: var(--unit);
	padding-right: var(--unit);

	&:focus {
		/*box-shadow: 0 0 0 4px inset var(--Clickable-color--active);*/
		box-shadow: 0 0 2px var(--Clickable-color--active);
	}

	&:active {
		color: var(--Content-backgroundColor);
		background-color: var(--Clickable-color--active);
	}
}

.Button--outline {
	/*color: var(--Content-backgroundColor);*/
	/*background-color: var(--Clickable-color);*/
	color: var(--Clickable-color--text);
	padding-left: var(--unit);
	padding-right: var(--unit);
	border: 1px solid currentColor;
	border-radius: 4px;

	&:focus {
		box-shadow: 0 0 2px var(--Clickable-color--active);
	}

	&:active {
		color: var(--Content-backgroundColor);
		background-color: var(--Clickable-color--text);
		border-color: var(--Clickable-color--text);
	}
}

.Button--float {
	box-shadow: 0px 0.22em 0.35em -0.07em rgba(0,0,0,0.1),
		0px 0.4em 0.7em 0px rgba(0,0,0,0.07),
		0px 0.07em 1.3em 0px rgba(0,0,0,0.06);

	&:focus {
		box-shadow: 0 0 2px var(--Clickable-color--active),
			0px 0.22em 0.35em -0.07em rgba(0,0,0,0.1),
			0px 0.4em 0.7em 0px rgba(0,0,0,0.07),
			0px 0.07em 1.3em 0px rgba(0,0,0,0.06);
	}
}

.Button--multiline {
	white-space: initial;
	text-align: left;
}