@import "../styles/common";

.comment-tree {
	position: relative;
}

.comment-tree--nested {
	margin-left: var(--CommentTree-padding);
}

.comment-tree__replies {
	position: relative;
}

/*
If comments don't have any side padding
then the root replies branch line would be ineligible
because it would be drawn at the very screen edge.
This CSS class can be used for styling such special case.
*/
.comment-tree__replies--root {
	> .comment-tree {
		> .comment-tree__branch-line,
		> .comment-tree__branch-marker {
			left: calc(-1 * var(--CommentTree-padding));
		}
		> .comment-tree__branch-marker {
			width: calc(var(--CommentTree-padding));
		}
	}
}
/* ^ var(--CommentTree-padding) * var(--CommentTree-root-level-replies-branch-width-factor) */

.comment-tree__branch-line {
	position: absolute;
	left: calc(-1 * var(--CommentTree-padding));
	height: 100%;
	border-left: var(--CommentTree-borderWidth) var(--CommentTree-borderStyle) var(--CommentTree-color);
	pointer-events: none;
}

.comment-tree:last-child > .comment-tree__branch-line {
	height: var(--CommentTree-branchTop);
}

.comment-tree__branch-toggler {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--CommentTree-padding);
	height: 100%;
	box-sizing: border-box;
	cursor: pointer;
	&:hover {
		background-color: var(--CommentTree-backgroundColor--hover);
		& ~ .comment-tree {
			/* Highlights branch lines for the immediate child comment tree
			   and for all nested comment trees. */
			.comment-tree__branch-toggler {
				background-color: var(--CommentTree-backgroundColor--hover);
			}
			.comment-tree__branch-line {
				border-left-color: var(--CommentTree-color--hover);
			}
			.comment-tree__dialogue-chain-marker {
				border-color: var(--CommentTree-color--hover);
			}
			.comment-tree__branch-marker {
				background-color: var(--CommentTree-color--hover);
			}
		}
	}
}

.comment-tree__branch-marker {
	position: absolute;
	left: calc(-1 * var(--CommentTree-padding));
	width: var(--CommentTree-padding);
	height: var(--CommentTree-borderWidth);
	margin-top: var(--CommentTree-branchTop);
	background-color: var(--CommentTree-color--branch);
	pointer-events: none;
}

.comment-tree__dialogue-chain-marker {
	position: absolute;
	left: calc(-1 * var(--CommentTree-padding));
	width: var(--CommentTree-padding);
	height: calc(var(--CommentTree-padding) * 2);
	margin-top: calc(-1 * var(--CommentTree-padding));
	border: var(--CommentTree-borderWidth) var(--CommentTree-borderStyle) var(--CommentTree-color);
	border-bottom-color: var(--CommentTree-color--branch);
	border-bottom-style: var(--CommentTree-borderStyle--branch);
	border-right: none;
	box-sizing: border-box;
	pointer-events: none;
}