@import "../styles/common";

:root
{
	--content-section-margin : calc(var(--unit) * 2);
	--content-section-padding : calc(var(--unit) * 1.5);
	/*--background-section-vertical-margin : var(--unit);*/

	@mixin xs
	{
		--content-section-margin : calc(var(--unit) * 1);
		--content-section-padding : var(--unit);
		/*--background-section-vertical-margin : calc(var(--unit) * 2);*/
	}
}

/*
Margin collapse won't work for cases
where content section siblings are flex columns
therefore disabling margin collapse for all cases
to rule out the confusion could be a solution.
Still, the `border: 1px; margin: -1px;` workaround
didn't work and was buggy so margins were replaced with paddings.
*/
.content-sections,
.content-section__spacer
{
	padding : calc(var(--content-section-margin) / 2);
}

.content-section
{
	padding : var(--content-section-padding);
	background-color : var(--white-color);
	border-radius : var(--border-radius);
}

.content-section--background
{
	background-color : transparent;
}

.content-section--busy
{
	cursor : wait;
}

.content-section__header
{
	margin        : calc(-1 * var(--content-section-padding));
	margin-bottom : var(--content-section-padding);
	padding-left  : var(--content-section-padding);
	padding-right : var(--content-section-padding);
	padding-top      : 0.5em;
	padding-bottom   : 0.45em;
	border-bottom    : 1px solid var(--background-color);
	color            : var(--black-color);
	font-weight      : bolder;
	text-align       : left;
	/*background-color : var(--gray-color-lightest);*/
}

/*.content-section__divider
{
	position         : absolute;
	top              : 0;
	height           : 1px;
	background-color : var(--gray-color);
}*/

/*.content-section__divider
{
	left  : var(--content-section-padding);
	right : var(--content-section-padding);
}*/

.content-section__errors
{
	margin-bottom : var(--content-section-padding);
}

.content-section__errors--top
{
	margin        : calc(-1 * var(--content-section-padding));
	margin-bottom : var(--content-section-padding);
	padding       : var(--content-section-padding);
}

.content-section--no-padding
{
	padding : 0;

	.content-section__header
	{
		margin-top    : 0;
		margin-bottom : 0;
		margin-left   : 0;
		margin-right  : 0;
	}
}

/*.sections
{
	margin     : calc(var(--content-section-margin) / 2);
	margin-top : calc(-1 * var(--content-section-margin) / 2);

	&:first-child
	{
		margin-top : calc(var(--content-section-margin) / 2);
	}
}*/
