@import "../styles/common";

:root
{
	--content-section-margin : calc(var(--unit) * 1);

	/*
	--content-section-horizontal-padding : calc(var(--unit) * 2);
	--content-section-vertical-padding : calc(var(--unit) * 1.5);
	*/

	--content-section-horizontal-padding : calc(var(--unit) * 1.5);
	--content-section-vertical-padding : calc(var(--unit) * 1);

	/*--background-section-vertical-margin : var(--unit);*/

	@mixin xs
	{
		--content-section-margin : calc(var(--unit) * 1);
		--content-section-horizontal-padding : calc(var(--unit) * 1);
		--content-section-vertical-padding : calc(var(--unit) * 1);
		/*--background-section-vertical-margin : calc(var(--unit) * 2);*/
	}
}

.content-section
{
	margin-top : var(--content-section-margin);
	margin-bottom : var(--content-section-margin);
	padding-left : var(--content-section-horizontal-padding);
	padding-right : var(--content-section-horizontal-padding);
	padding-top : var(--content-section-vertical-padding);
	padding-bottom : var(--content-section-vertical-padding);
	background-color : var(--white-color);
	border-radius : var(--border-radius);
	/*box-shadow : var(--content-section-shadow);*/
  box-shadow: 0 0.0005rem 0.1rem 0 hsla(210,7%,61%,.15), 0 0.1rem 0.75rem 0 hsla(210,7%,61%,.15);

	@mixin xs-small {
		margin-left  : calc(var(--column-padding) * -1);
		margin-right : calc(var(--column-padding) * -1);
		border-radius : 0;
	}
}

.content-section--background
{
	background-color : transparent;
	box-shadow : none;
}

.content-section--busy
{
	cursor : wait;
}

.content-section__header
{
	margin-top    : calc(-1 * var(--content-section-vertical-padding));
	margin-bottom : var(--content-section-vertical-padding);
	margin-left   : calc(-1 * var(--content-section-horizontal-padding));
	margin-right  : calc(-1 * var(--content-section-horizontal-padding));
	padding-left  : var(--content-section-horizontal-padding);
	padding-right : var(--content-section-horizontal-padding);
	padding-top      : 0.5em;
	padding-bottom   : 0.45em;
	border-bottom    : 1px solid var(--content-section-divider-color);
	color            : var(--black-color);
	font-weight      : normal;
	font-size        : 1.4rem;
	text-align       : left;
	/*background-color : var(--gray-color-lightest);*/
}

.content-section__header--lite {
	border-bottom: none;
	font-size: 1.3rem;
}

/*.content-section__divider
{
	position         : absolute;
	top              : 0;
	height           : 1px;
	background-color : var(--gray-color);
}*/

/*.content-section__errors
{
	margin-bottom : var(--content-section-vertical-padding);
}*/

/*.content-section__errors--top
{
	margin        : calc(-1 * var(--content-section-vertical-padding));
	margin-bottom : var(--content-section-padding);
	padding       : var(--content-section-padding);
}*/

/*.content-section--no-padding
{
	padding : 0;

	.content-section__header
	{
		margin-top    : 0;
		margin-bottom : 0;
		margin-left   : 0;
		margin-right  : 0;
	}
}*/

/*.sections
{
	margin     : calc(var(--content-section-margin) / 2);
	margin-top : calc(-1 * var(--content-section-margin) / 2);

	&:first-child
	{
		margin-top : calc(var(--content-section-margin) / 2);
	}
}*/
