@import "../styles/common";

.webpage__footer__menu {
	position : fixed;
	left     : 0;
	right    : 0;
	bottom   : 0;
	justify-content: space-evenly;
	height : var(--footer-menu-height);
	background-color : var(--white-color);
	border-top : 1px solid var(--Header-borderColor);
}

.webpage__footer {
	margin-bottom : var(--footer-menu-height);
	margin-top: calc(var(--unit) * 2);
	@mixin s {
		margin-top: calc(var(--unit) * 3);
	}
	@mixin m {
		margin-top: calc(var(--unit) * 4);
	}
	@mixin l-plus {
		margin-top: calc(var(--unit) * 6);
	}
}

@mixin m-plus {
	.webpage__footer {
		margin-bottom: 0;
	}
	.webpage__footer__menu {
		display: none;
	}
}