@import "../styles/common";

:root {
	/* Form Actions are sometimes used outside `.form`,
	   that's why these CSS variables are defined in `:root`. */
	--FormAction-height: calc(var(--unit) * 3);
	--FormAction-margin--horizontal: calc(var(--unit) * 1.5);
}

.form__component {
	/* `position: relative` on `.form__component` is required
	   for `width: 100%` to work. */
	.rrui__input-error {
		position: absolute;
		width: 100%;
		margin-top: 0;
		text-align: right;
		font-size: 85%;
	}
}

.form__component,
.form__action {
	margin-top: calc(var(--unit) * 1.5);
}

.form__component {
	/* `position: relative` is for `.rrui__input-error`. */
	position: relative;
	&:first-child {
		margin-top: 0;
	}
}

.form__component--button {
	margin-top: calc(var(--unit) * 1);
}

.form__component--button + .form__component--button {
	margin-top: calc(var(--unit) * 0.75);
}

.form__component-and-button {
	display: flex;
	.form__component {
		flex: 1;
		margin-top: calc(var(--unit) * 1.5);
		margin-right: var(--unit);
	}
	.TextButton {
		--FormAction-height: auto;
	}
}

.form__action {
	display: block;
	height: var(--FormAction-height);
	margin-right: var(--FormAction-margin--horizontal);
	&:last-child {
		margin-right: 0;
	}
}

/*
.form__action.TextButton {
	padding-left: calc(var(--unit) * 0.5);
	padding-right: calc(var(--unit) * 0.5);
}
*/

.form__actions {
	display: flex;
	justify-content: flex-end;
}

.form__component--description {
	margin-top: calc(var(--unit) * 0.5);
	margin-bottom: 0;
}

.form__label {
	color: var(--Content-color-400);
}

@mixin upto-m {
	.Document--leftHanded {
		.form__actions {
			flex-direction: row-reverse;
		}
		.form__action {
			margin-right: 0;
			margin-left: var(--FormAction-margin--horizontal);
			&:last-child {
				margin-left: 0;
			}
		}
	}
}