@import "../styles/common";

.webpage__header {
	position : fixed;
	top   : 0;
	left  : 0;
	right : 0;
	z-index : 1;
	height: var(--Header-height);
	color : var(--Header-color);
	background-color : var(--Header-backgroundColor);
	border-bottom : 1px solid var(--Header-borderColor);

	.container {
    height: 100%;
	}
}

.webpage__header__row {
  height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-button {
	width  : calc(var(--unit) * 2);
	height : calc(var(--unit) * 2);
	cursor : pointer;
	color  : var(--black-color);
}

.header__link {
	height : 100%;
	display : flex;
	align-items : center;
}

/*.header__links
{
	height : 100%;
	display : flex;
}*/

.webpage__header {
	@mixin upto-xs {
		display: none;
	}
	@mixin s {
		display: none;
	}
}