@import "../styles/common";

.webpage__header
{
	background-color : var(--black-color);
	color : var(--white-color);
}

.webpage__header__row
{
	display : flex;
	justify-content : space-between;
	align-items : center;
}

.menu-button
{
	width  : calc(var(--unit) * 2);
	height : calc(var(--unit) * 2);
	cursor : pointer;
}