@import "../styles/common";

.webpage__header
{
	position : fixed;
	top   : 0;
	left  : 0;
	right : 0;
	z-index : 1;

	background-color : var(--white-color);
	color : var(--black-color);
	border-bottom : 1px solid rgba(0,0,0,.0975);
}

.webpage__header__row
{
	display : flex;
	justify-content : space-between;
	align-items : center;

	height : var(--header-height);
}

.menu-button
{
	width  : calc(var(--unit) * 2);
	height : calc(var(--unit) * 2);
	cursor : pointer;
}