.hover-button {
	color: inherit;
	border-radius: var(--border-radius);
}

.hover-button:hover,
.hover-button:focus,
.hover-button--link:focus {
	background-color: var(--HoverButton-backgroundColor);
	box-shadow: 0 0 0 1px var(--HoverButton-borderColor);
	color: var(--HoverButton-color);
}

/* Added `.hover-button` for CSS selector specificity
   to override `:hover` and `:focus` styles. */
.hover-button.hover-button--pushed {
	color: var(--HoverButton-color--pushed);
	background-color: var(--HoverButton-backgroundColor--pushed);
}

.hover-button--pushed {
	box-shadow: 0 0 0 1px var(--HoverButton-borderColor--pushed);
}

.hover-button--pushed:hover,
.hover-button--pushed:focus {
	box-shadow: 0 0 0 1px var(--HoverButton-borderColor--pushedFocus);
}

.hover-button:active,
.hover-button--link:active {
	background-color: var(--HoverButton-backgroundColor--active);
}

.hover-button--pushed:active {
	background-color: var(--HoverButton-backgroundColor--pushedActive);
}

.hover-button:active,
.hover-button--link:active {
	color: var(--HoverButton-color--active);
	box-shadow: 0 0 0 1px var(--HoverButton-borderColor--active);
}

.hover-button--pushed:active {
	color: var(--HoverButton-color--pushedActive);
	box-shadow: 0 0 0 1px var(--HoverButton-borderColor--pushedActive);
}