@import "../styles/common";

.picture
{
	position      : relative;
	font-size     : 0;
	border-radius : inherit;
	user-select   : none;
}

/*
.picture--cover
{
	background-size : cover;
	background-position : center center;
}
*/

.picture--repeat-x
{
	height : 100%;
	background-repeat : repeat;
}

.picture--border:after
{
	position      : absolute;
	left          : 0;
	top           : 0;
	right         : 0;
	bottom        : 0;
	content       : '';
	border        : 1px solid var(--black-color);
	border-radius : inherit;
}

.picture--hd
{
	/* 16:9 aspect ratio */
	padding-bottom : 56.25%;
}

.picture--hd .picture__image
{
	position : absolute;
}

.picture__loading-container
{
	position        : absolute;
	width           : 100%;
	height          : 100%;
	display         : flex;
	align-items     : center;
	justify-content : center;
	overflow        : hidden;
}