@import "../styles/common";

.post__summary
{
	display : flex;
	align-items : center;
}

.post__name-and-date
{
	display : flex;
	flex-direction : column;
	margin-left : var(--unit);
}

.post__name
{
	color : var(--base-color-dark);
}

.post__date
{
	margin-top : 0.1em;
	color : var(--gray-color-darkest);
}

.post__date-tooltip
{
	height        : calc(var(--unit) * 3);
	margin-top    : -0.1em;
	padding-left  : 0.85em;
	padding-right : 0.85em;
	font-size     : 0.85rem;
}

.post__account-picture
{
	width  : calc(var(--unit) * 4);
	height : calc(var(--unit) * 4);
	border-radius : var(--border-radius);
	box-shadow : 0 0 0 1px var(--content-section-divider-color);
}

.post__picture,
.post__video,
.post__thumbnail-attachments-container
{
	margin-top : var(--content-section-padding);
}

.post__picture,
.post__video,
.post__attachment-thumbnail
{
	box-shadow : 0 0 0 1px var(--content-section-divider-color);
	cursor : pointer;
}

.post__thumbnail-attachments
{
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
	padding : 0;
	margin-top : calc(var(--content-section-padding) * -1);
	margin-bottom : 0;
	list-style-type : none;
}

.post__thumbnail-attachment
{
	margin-top : var(--content-section-padding);
	flex : 0 0 calc((100% - var(--content-section-padding) * 1) / 2);

	@mixin xs
	{
		flex : 0 0 100%;
	}

	@mixin xl
	{
		flex : 0 0 calc((100% - var(--content-section-padding) * 2) / 3);
	}
}

.post__attachment-thumbnail
{
	height : calc(var(--unit) * 10);
}

.post__attachments
{
	margin-top : var(--content-section-padding);
}