@import "../styles/common";

.PostVideo {
	margin-top: var(--PostContent-marginTop);
}

/*
.PostVideo-title {
	margin-top: 0.4em;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.35em;
}
*/

/*
.PostVideo:last-child {
	.PostVideo-title {
		margin-bottom: calc(-1 * var(--Post-textLineHeightBlankSpace));
	}
}
*/

/* For play video icon. */
.PostVideo .rrui__video {
	&:hover {
		.rrui__video__play-icon-background {
			fill: rgba(0, 0, 0, 0.8);
		}
	}
}
