.post__quote-block {
	/* `position: relative` is for the quote marker to only span through
	   this inline quote block in cases when there're multiple
	   `.post__quote-block`s inside a quote
	   in order for the quote marker to only span vertically for its "sub-block".
	   This is the case when there're `post-link`s having multiple `quotes`. */
	position: relative;
	margin-top: var(--PostQuoteBlock-marginTop);
	margin-bottom: var(--PostQuoteBlock-marginTop);
	/* `padding-left` is set on `.post__quote-block`
	   because there can be cases when there're multiple
	   `.post__quote-block`s inside a quote
	   and each of those "sub-blocks" has `position: relative`
	   in order for the quote marker to only span vertically for its "sub-block". */
	padding-left: var(--PostQuoteBlock-paddingLeft);
	padding-right: var(--PostQuoteBlock-paddingRight);
	margin-left: calc(var(--PostQuoteBlock-marginLeft) + var(--PostQuoteBlock-paddingLeft) * -1);
	margin-right: calc(var(--PostQuoteBlock-marginRight) + var(--PostQuoteBlock-paddingRight) * -1);
	width: calc(100% - var(--PostQuoteBlock-marginLeft) + var(--PostQuoteBlock-paddingLeft) + var(--PostQuoteBlock-paddingRight) - var(--PostQuoteBlock-marginRight));
}

.post__quote-block {
	.post__quote-marker {
		--PostQuoteMarker-color: var(--PostQuoteBlockMarker-color);
		--PostQuoteMarker-width: var(--PostQuoteBlockMarker-width);
		--PostQuoteMarker-padding: var(--PostQuoteBlockMarker-padding);
		--PostQuoteMarker-opacity: var(--PostQuoteBlockMarker-opacity)
	}
}

.post__quote-block--generated {
	--PostQuoteBlock-marginTop: var(--PostQuoteBlock-marginTop--generated);
	--PostQuoteBlock-color: var(--PostQuoteBlock-color--generated);
	--PostQuoteBlock-backgroundColor: var(--PostQuoteBlock-backgroundColor--generated);
	--PostQuoteBlock-borderWidth: var(--PostQuoteBlock-borderWidth--generated);
	--PostQuoteBlock-borderColor: var(--PostQuoteBlock-borderColor--generated);
	.post__quote-marker {
		--PostQuoteBlockMarker-color: var(--PostQuoteBlockMarker-color--generated);
		--PostQuoteBlockMarker-width: var(--PostQuoteBlockMarker-width--generated);
		--PostQuoteBlockMarker-padding: var(--PostQuoteBlockMarker-padding--generated);
		--PostQuoteBlockMarker-opacity: var(--PostQuoteBlockMarker-opacity--generated);
	}
}

/* Due to the presence of a `<br/>` sequential
   inline quotes' vertical margins don't "collapse". */
.post__quote-block + br + .post__quote-block {
	margin-top: 0;
}

.post__inline-quote-link--block + br + .post__inline-quote-link--block .post__quote-block {
	margin-top: 0;
}

/* Places the quote block marker above the left border of expanded comment tree replies. */
.comment-tree__comment--nested {
	.post__quote-block {
		--PostQuoteBlock-marginLeft: calc(-1 * var(--CommentTree-borderWidth));
	}
}

.post__quote-block--inline {
	/* `display: inline` wouldn't work: it would only apply
	   `padding-left` to the first line of text. */
	display: inline-block;
}

.post__quote-block {
	color: var(--PostQuoteBlock-color);
	background-color: var(--PostQuoteBlock-backgroundColor);
	border-right: var(--PostQuoteBlock-borderWidth--right) solid var(--PostQuoteBlock-borderColor);
	border-top: var(--PostQuoteBlock-borderWidth) solid var(--PostQuoteBlock-borderColor);
	border-bottom: var(--PostQuoteBlock-borderWidth) solid var(--PostQuoteBlock-borderColor);
}

.post__quote-block--generated {
	/* When autogenerating quotes multiple paragraphs are
	   joined with "\n" characters and these "line breaks"
	   must be preserved when such autogenerated quotes are rendered.
	   `white-space: pre-line` shows line breaks on "\n" characters
	   and at the same time still trims all other whitespace. */
	white-space: pre-line;
}

/* Prepend an invisible "> " to inline quotes for copied text formatting. */
.post__quote-block__prefix {
	/* `font-size: 0` makes the "> " invisible, and also makes the `<div/>` zero-height. */
	font-size: 0;
	/* Without `display: block` it would result in an empty line before the actual
	   quote text when the quote text is too long and is forcefully wrapped, like
	   "REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE". */
	display: block;
}

.post__quote-block__content {
	&:before,
	&:after {
		/* Don't insert quote characters around the quoted text. */
		content: '';
	}
}