.PostQuoteBlock {
	/* `position: relative` is for the quote marker to only span through
	   this inline quote block in cases when there're multiple
	   `.PostQuoteBlock`s inside a quote
	   in order for the quote marker to only span vertically for its "sub-block".
	   This is the case when there're `post-link`s having multiple `quotes`. */
	position: relative;
	width: calc(-1 * var(--PostQuoteBlock-marginLeft) + var(--PostQuoteBlock-borderWidth--left) + var(--PostQuoteBlock-paddingLeft) + 100% + var(--PostQuoteBlock-paddingRight) + var(--PostQuoteBlock-borderWidth--right) - var(--PostQuoteBlock-marginRight));
	margin-left: calc(var(--PostQuoteBlock-marginLeft) - var(--PostQuoteBlock-borderWidth--left) - var(--PostQuoteBlock-paddingLeft));
	margin-right: calc(var(--PostQuoteBlock-marginRight) - var(--PostQuoteBlock-borderWidth--right) - var(--PostQuoteBlock-paddingRight));
	margin-top: calc(var(--PostQuoteBlock-marginTop) - var(--PostQuoteBlock-borderWidth));
	margin-bottom: calc(var(--PostQuoteBlock-marginBottom) - var(--PostQuoteBlock-borderWidth));
	/* `padding-left` is set on `.PostQuoteBlock`
	   because there can be cases when there're multiple
	   `.PostQuoteBlock`s inside a quote
	   and each of those "sub-blocks" has `position: relative`
	   in order for the quote marker to only span vertically for its "sub-block". */
	padding-left: var(--PostQuoteBlock-paddingLeft);
	padding-right: var(--PostQuoteBlock-paddingRight);
}

.PostQuoteBlock {
	.PostQuoteBorderLeft {
		--PostQuoteBorderLeft-color: var(--PostQuoteBlockBorderLeft-color);
		--PostQuoteBorderLeft-width: var(--PostQuoteBlockBorderLeft-width);
		--PostQuoteBorderLeft-marginTop: var(--PostQuoteBlockBorderLeft-marginTop);
		--PostQuoteBorderLeft-opacity: var(--PostQuoteBlockBorderLeft-opacity)
	}
}

.PostQuoteBlock--generated {
	--PostQuoteBlock-marginTop: var(--PostQuoteBlock-marginTop--generated);
	--PostQuoteBlock-marginBottom: var(--PostQuoteBlock-marginBottom--generated);
	--PostQuoteBlock-color: var(--PostQuoteBlock-color--generated);
	--PostQuoteBlock-backgroundColor: var(--PostQuoteBlock-backgroundColor--generated);
	--PostQuoteBlock-borderWidth: var(--PostQuoteBlock-borderWidth--generated);
	--PostQuoteBlock-borderColor: var(--PostQuoteBlock-borderColor--generated);
	.PostQuoteBorderLeft {
		--PostQuoteBlockBorderLeft-color: var(--PostQuoteBlockBorderLeft-color--generated);
		--PostQuoteBlockBorderLeft-width: var(--PostQuoteBlockBorderLeft-width--generated);
		--PostQuoteBlockBorderLeft-marginTop: var(--PostQuoteBlockBorderLeft-marginTop--generated);
		--PostQuoteBlockBorderLeft-opacity: var(--PostQuoteBlockBorderLeft-opacity--generated);
	}
}

/* Due to the presence of a `<br/>` sequential
   inline quotes' vertical margins don't "collapse". */
.PostQuoteBlock + br + .PostQuoteBlock,
.PostQuoteBlock + br + .PostQuoteLink--block .PostQuoteBlock,
.PostQuoteLink--block + br + .PostQuoteLink--block .PostQuoteBlock,
.PostQuoteLink--block + br + .PostQuoteBlock {
	margin-top: 0;
}

/* Places the quote block marker above the left border of expanded comment tree replies. */
/*
.CommentTree-comment--nested {
	.PostQuoteBlock {
		--PostQuoteBlock-marginLeft: calc(-1 * var(--CommentTree-borderWidth));
	}
}
*/

.PostQuoteBlock--inline {
	/* `display: inline` wouldn't work: it would only apply
	   `padding-left` to the first line of text. */
	display: inline-block;
}

.PostQuoteBlock {
	color: var(--PostQuoteBlock-color);
	background-color: var(--PostQuoteBlock-backgroundColor);
	border-left: var(--PostQuoteBlock-borderWidth--left) solid var(--PostQuoteBlock-borderColor);
	border-right: var(--PostQuoteBlock-borderWidth--right) solid var(--PostQuoteBlock-borderColor);
	border-top: var(--PostQuoteBlock-borderWidth) solid var(--PostQuoteBlock-borderColor);
	border-bottom: var(--PostQuoteBlock-borderWidth) solid var(--PostQuoteBlock-borderColor);
}

.PostQuoteBlock--generated {
	/* When autogenerating quotes multiple paragraphs are
	   joined with "\n" characters and these "line breaks"
	   must be preserved when such autogenerated quotes are rendered.
	   `white-space: pre-line` shows line breaks on "\n" characters
	   and at the same time still trims all other whitespace. */
	white-space: pre-line;
}

/* Prepend an invisible "> " to inline quotes for copied text formatting. */
.PostQuoteBlock__prefix {
	/* `font-size: 0` makes the "> " invisible, and also makes the `<div/>` zero-height. */
	font-size: 0;
	/* Without `display: block` it would result in an empty line before the actual
	   quote text when the quote text is too long and is forcefully wrapped, like
	   "REEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE". */
	display: block;
}

.PostQuoteBlock__content {
	&:before,
	&:after {
		/* Don't insert quote characters around the quoted text. */
		content: '';
	}
}