.post__code {
	border-radius: var(--border-radius);
	border: 1px solid var(--Content-color-200);
	background-color: var(--Content-color-100);
}

.post__code:not(.post__code--inline) {
	line-height: var(--line-height);
	margin-left: calc(-1 * var(--unit) * 0.5);
	margin-right: calc(-1 * var(--unit) * 0.5);
	padding-left: calc(var(--unit) * 0.5);
	padding-right: calc(var(--unit) * 0.5);
	margin-top: -1px;
	margin-bottom: -1px;
}

.post__code--inline {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.post__code.post__block {
	margin-top: 0.5em;
	&:first-child {
		margin-top: 1em;
	}
}

.post.content-section {
	.post__code:not(.post__code--inline) {
		margin-left: calc(var(--ContentSection-padding--horizontal) * -1);
		margin-right: calc(var(--ContentSection-padding--horizontal) * -1);
		padding-left: var(--ContentSection-padding--horizontal);
		padding-right: var(--ContentSection-padding--horizontal);
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		border-left: none;
		border-right: none;
		width: calc(100% + 2 * var(--ContentSection-padding--horizontal));
		border-radius: 0;
	}
}