@import "../styles/common";

.post {
	--post-attachments-spacing : calc(var(--unit) / 2);

	/* When selecting text <br/>s also get selected
	   which results in a bit of a visual clutter.
	   (for example, in the end of `<PostInlineQuote/>`
	   when a `<Post/>` has `.content-section` CSS class).
	   `font-size: 0` doesn't affect the height of `<br/>`
	   but it removes the visual selection from it. */
	br {
		font-size: 0;
	}
}

.post__heading {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 400;
}

.post__content {
	font-family: var(--font-family-text);
}

.post__summary
{
	display : flex;
	align-items : center;
}

.post--compact.post--anonymous:not(.post--empty) {
	.post__header:not(.post__header--with-heading) {
		margin-bottom: -0.4em;
	}
}

.post__name-and-date
{
	display : flex;
	flex-direction : column;
	margin-left : var(--unit);
}

.post__name
{
	color : var(--base-color-dark);
}

.post__account-picture
{
	width  : calc(var(--unit) * 4);
	height : calc(var(--unit) * 4);
	border-radius : var(--border-radius);
	box-shadow : 0 0 0 1px var(--content-section-divider-color);
}

.post__thumbnail-attachments-container
{
	margin-top : var(--post-attachments-spacing);
}

.post__paragraph,
.post__picture,
.post__video {
	margin-top : 1em;
}

.post--compact {
	.post__paragraph {
		margin-top : 0.6em;
	}
	.post__picture:not(:first-child),
	.post__video:not(:first-child) {
		margin-top : 0.3em;
	}
}

.post__picture,
.post__video .rrui__video,
.post__attachment-thumbnail
{
	background-color : var(--background-color);
	box-shadow : 0 0 0 1px var(--black-color);
	cursor : pointer;
}

/* For play video icon. */
.post__video .rrui__video,
.post__thumbnail-attachment-button {
	position: relative;
	&:hover {
		.rrui__video__play-icon-background {
			fill : rgba(0, 0, 0, 0.8);
		}
	}
}