@import "../styles/common";

.post__video
{
	.picture__image
	{
		width : 100%;
	}
}

.post__video-icon
{
	--icon-size : 25%;

	position : absolute;
	top  : calc((100% - var(--icon-size)) / 2);
	left : calc((100% - var(--icon-size)) / 2);
	width  : var(--icon-size);
	height : var(--icon-size);

	@mixin xs-small
	{
		--icon-size : 30%;
	}
}