/*
.post__inline-quote {
	color: #789922;
}

.post__inline-quote:before {
	content: '> ';
	color: #789922;
}

.post__inline-quote:after {
	content: '';
}
*/

/*
.post__inline-quote:before {
	content: '«';
}

.post__inline-quote:after {
	content: '»';
}
*/

/* Regular "inline quotes" are delimited with `<br/>`s so they're rendered as
   `inline-block`s so that there're no additional "new lines" around them.
   At the same time there're `post-link`s having `quotes` that are rendered as
   `block`s because they don't have additional "new lines" around them. */
.post__inline-quote {
	display: inline-block;
	width: 100%;
}

.post__inline-quote {
	margin-top: var(--PostQuote-marginTop);
	margin-bottom: var(--PostQuote-marginTop);
}

.post__inline-quote--generated {
	--PostQuote-marginTop: var(--PostQuote-marginTop--generated);
	--PostQuote-color: var(--PostQuote-color--generated);
	--PostQuote-backgroundColor: var(--PostQuote-backgroundColor--generated);
	--PostQuote-borderWidth: var(--PostQuote-borderWidth--generated);
	--PostQuote-borderColor: var(--PostQuote-borderColor--generated);
	.post__quote-marker {
		--PostQuoteMarker-color: var(--PostQuoteMarker-color--generated);
		--PostQuoteMarker-width: var(--PostQuoteMarker-width--generated);
		--PostQuoteMarker-padding: var(--PostQuoteMarker-padding--generated);
		--PostQuoteMarker-opacity: var(--PostQuoteMarker-opacity--generated);
	}
}

/* Due to the presence of a `<br/>` sequential
   inline quotes' vertical margins don't "collapse". */
.post__inline-quote + br + .post__inline-quote {
	margin-top: 0;
}