.post__quote-blocks {
	/* `.post__quote-blocks` is not `display: block` because
	   "inline quotes" are surrounded with `<br/>`s.
	   Instead, `display: block` is emulated via `width: 100%` (somewhere below)
	   and making it `display: inline-block`. */
	position: relative;
	display: inline-block;
	color: var(--PostQuote-color);
	background-color: var(--PostQuote-backgroundColor);
	/*
	margin-top: -1px;
	margin-bottom: -1px;
	*/
	border-top: var(--PostQuote-borderWidth) solid var(--PostQuote-borderColor);
	border-bottom: var(--PostQuote-borderWidth) solid var(--PostQuote-borderColor);
}

/* `--PostQuote-spacing` is used in `captchan` in
   "Neon Genesis Evangelion" theme to add some spacing
   between consequtive post quotes because otherwise
   they'd look like a single post quote. */
.post__quote-blocks + br + .post__quote-blocks {
	margin-top: var(--PostQuote-spacing);
}

/* `<PostQuoteMarker/>`-related padding. */
.post__quote-blocks {
	padding-left: 0;
	margin-left: calc(var(--PostQuote-paddingLeft) * -1);
	margin-right: calc(var(--PostQuote-paddingRight) * -1);
	width: calc(100% + var(--PostQuote-paddingLeft) + var(--PostQuote-paddingRight));
}
.post__quote-block {
	/* `position: relative` is for the quote marker to only span through
	   this inline quote block in cases when there're multiple
	   `.post__quote-block`s inside a `.post__quote-blocks`
	   in order for the quote marker to only span vertically for its "sub-block".
	   This is the case when there're `post-link`s having multiple `quotes`. */
	position: relative;
	/* `display: block` is used here because by default the multiple
	   `.post__quote-block`s inside a `.post__quote-blocks`
	   are not separated with `<br/>`s. */
	display: block;
	/* `padding-left` is set on `.post__quote-block`
	   because there can be cases when there're multiple
	   `.post__quote-block`s inside a `.post__quote-blocks`
	   and each of those "sub-blocks" has `position: relative`
	   in order for the quote marker to only span vertically for its "sub-block". */
	padding-left: var(--PostQuote-paddingLeft);
	padding-right: var(--PostQuote-paddingRight);
}

.post__quote-block--inline {
	/* `display: inline` wouldn't work: it would only apply
	   `padding-left` to the first line of text. */
	display: inline-block;
}