.post__link-icon {
	position: relative;
	top: 0.15em;
	margin-right: 0.2em;
	width: 1em;
	height: 1em;
	/* For some reason the icon may shrink sometimes in iOS Safari.
	   Perhaps something related to long links not fitting.
	   Added `min-width` and `min-height` to test if it fixes that. */
	min-width: 1em;
	min-height: 1em;
}

.service-icon--monochrome [data-stroke="true"] {
	color: inherit;
}

.service-icon--monochrome [data-fill="true"] {
	color: white;
}

.service-icon--monochrome [data-fill="gradient"] {
	fill: color;
}