@import "../styles/common";

.post__list {
	padding-left : calc(var(--unit) * 2);
	@mixin upto-xs {
		padding-left : var(--unit);
	}
}

/** Change bullet color of list item by replacing it with CSS. */

.post__list-item {
	line-height: var(--line-height);
	list-style: none;
	&:before {
		position: relative;
		top: 0;
		padding-right: 0.45em;
		content: "\2022";
		font-size: 1em;
		color: var(--gray-color-600);
	}
}