.post__attachments {
}

/* Textual content has some inherent top spacing due to line height.
   Other content (attachment thumbnails, embedded pictures and videos)
   doesn't have such extra visual spacing. Therefore add a bit of top spacing here. */
.post--anonymous.post--empty .post__attachments {
}

.post__attachment-thumbnails {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.post__attachment-thumbnail {
	/*--PostAttachment-shadow--hover: 0 0 0.25em var(--PostAttachment-shadowColor--hover), 0 0 0.1em var(--PostAttachment-shadowColor--hover);*/
	/*--PostAttachment-shadow--focus: 0 0 3px var(--PostAttachment-shadowColor--focus);*/
	/* Video attachments have a `position: absolute` duration placed in bottom right corner. */
	position: relative;
}

.post__attachment-thumbnails {
	/* `.post__attachment-thumbnail` is also used in `post-link` quotes,
	   where `margin`s aren't required. */
	.post__attachment-thumbnail {
		margin-top: var(--PostContent-margin);
		margin-right: var(--PostContent-margin);
	}
}

/* `.post__attachment-thumbnail` can't have `margin`s
   when it's being shown as a `<PictureStack/>`,
   so the `margin` is moved to the container. */
.post__attachment-thumbnails--hide-rest-attachments {
	.post__attachment-thumbnail-picture-stack {
		margin-top: var(--PostContent-margin);
		.post__attachment-thumbnail {
			margin: 0;
		}
	}
}

/*
.post__attachment-thumbnail--transparent {
	--Picture-borderWidth: 0;
	--Picture-backgroundColor: transparent;
	--PostAttachment-shadow--hover: none;
	--PostAttachment-shadow--focus: none;
}
*/