@import "../styles/common";

.post__attachments {
	/*margin-top : calc(var(--post-content-vertical-spacing) - var(--post-attachments-spacing));*/
}

/* Textual content has some inherent top spacing due to line height.
   Other content (attachment thumbnails, embedded pictures and videos)
   doesn't have such extra visual spacing. Therefore add a bit of top spacing here. */
.post--anonymous.post--empty .post__attachments {
  /*margin-top: 0.6em;*/
}

.post__attachment-thumbnails
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.post__attachment-thumbnail
{
	--post-attachment-hover-shadow: 0 0 0.3em rgba(0,0,0,0.2), 0 0 0.15em rgba(0,0,0,0.18);

	margin-top: var(--post-content-vertical-spacing);
	margin-right: var(--post-content-vertical-spacing);
	padding: var(--picture-border-width); /* the padding is for box-shadow */
}

.post__attachment-thumbnail__button {
	/*position: relative;*/
	display: block;
	/* Material Design Card elevation shadow. */
	/* https://codepen.io/sdthornton/pen/wBZdXq */
	transition: box-shadow 160ms cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: var(--post-attachment-hover-shadow);
	}
}

.post__attachment-thumbnail__more-count {
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;

	display         : flex;
	align-items     : center;
	justify-content : center;

	color            : var(--white-color);
	background-color : rgba(0,0,0,0.4);
	opacity          : 0.8;

	overflow : hidden;
	pointer-events : none;

	font-size : 5rem;

	@mixin xxs {
		font-size : 3rem;
	}

	@mixin xs-s {
		font-size : 4rem;
	}

	@mixin m {
		font-size : 5rem;
	}
}

.post__files {
	margin: 0;
	padding: 0;
	list-style: none
}

.post__file-size {
	margin-left: 0.4em;
	color: var(--gray-color);
	font-weight: 300;
}