/*
.post__inline-spoiler-contents {
  transition: 120ms;
}

.post__inline-spoiler-contents--hidden {
	color: transparent;
  text-shadow: 0 0 0.5em rgba(0,0,0,0.4);
  transition: 60ms;
}
*/

.post__inline-spoiler,
.post__inline-spoiler-contents {
  transition-duration: 60ms;
}

.post__inline-spoiler--hidden {
	background-color: var(--gray-color-lightest);
	border-radius: 0.2em;
}

.post__inline-spoiler--censored {
	&.post__inline-spoiler--hidden {
		background-color: #f0e1e1;
		cursor: not-allowed;
	}
}

.post__inline-spoiler--hidden {
	/* A "censored" spoiler may be placed inside a regular "spoiler".
	   Hence using the ">" selector. */
	> .post__inline-spoiler-contents {
		opacity: 0;
	}
}

.post__inline-spoiler--hidden:not(.post__inline-spoiler--censored):hover {
	background-color: transparent;
	/* A "censored" spoiler may be placed inside a regular "spoiler".
	   Hence using the ">" selector. */
	> .post__inline-spoiler-contents {
		opacity: 1;
	}
}