.post__social {
	/* Units don't scale on small screens, so using `em`s instead. */
	/*--user-picture-size: calc(var(--unit) * 3);*/
	--user-picture-size: 2em;
	/* `position: relative` is for `<PostQuoteMarker/>`. */
	position: relative;
	margin-top: var(--PostContent-margin);
	.post__quote-marker {
		left: calc(-1 * var(--PostQuote-paddingLeft));
	}
}

/* The only purpose of this "wrapper" is setting `color`
   in order for `<PostQuoteMarker/>` to have that color
   via its `color: inherit`.
   Not setting `<PostQuoteMarker/>` color directly
   because it could be overridden in a custom theme
   and if explicitly set here it would override that
   custome theme style. */
.post__social__quote-marker-wrapper {
	color: var(--PostQuote-color);
}

.post__social__header {
	display: flex;
	align-items: center;
}

.post__social__user-picture {
	width: var(--user-picture-size);
	height: var(--user-picture-size);
	margin-right: 0.4em;
}

.post__social__provider-logo {
	width: 1em;
	height: 1em;
	margin-right: 0.25em;
}

.post__social__author-name {
	padding-bottom: 0.15em;
}

.post__social__author-name-and-id {
	display: flex;
	flex-direction: column;
}

.post__social__author-name-inner {
	display: flex;
	align-items: center;
}

.post__social__author-id {
	font-size: 85%;
	color: var(--Content-color-600);
	/*
	&:hover {
		color: var(--Content-color-700);
	}
	*/
}

.post__social__author-id-element:before {
	content: '@';
	position: relative;
	top: -0.1em;
}

.post__social__content {
	margin: 0;
	margin-top: 0.25em;
	/*line-height: var(--line-height);*/
	p {
		margin: 0;
	}
}

.post__social__content-link--text-color {
	color: inherit;
}

/*.post__social__content-link--block {
	display: block;
}*/