@import "../styles/common";

.post__quote
{
	padding-left : 1em;
	border-left  : 0.1em solid var(--gray-color-100);
}

.post__quote-text
{
	margin-left   : 0;
	margin-bottom : 0;
	font-size     : 115%;
	line-height   : var(--line-height);
}

.post__quote-source
{
	margin-top : 1em;
}