.post__footer {
	display: flex;
	margin-top: 1em;
	font-weight: lighter;
}

.post--compact {
	.post__footer {
		margin-top: 0.7em;
	}
	/* Provides some bottom padding for the post. */
	.post__footer--empty {
		margin-top: 0.15em;
	}
}

.post__footer__comments-count-icon {
	width: 1em;
	height: 1em;
	margin-right: 0.4em;
	margin-top: -0.1em;
}

.post__footer__comments-count {
	display: flex;
	align-items: center;
	color: var(--gray-color);
}