.post__header-top {
	display: flex;
	justify-content: space-between;
}

.post__summary {
	display: flex;
	align-items: flex-start;
	/* Fallback for really small screens. */
	flex-wrap: wrap;
}

.post__summary-item {
	margin-right: calc(var(--unit) * 1.5);
	&:last-child {
		margin-right: 0;
	}
}

.post__summary__account {
	display: flex;
	align-items: center;
}

.post__header-misc {
	color: var(--gray-color-600);
}

.post__summary-button {
	margin-top: calc(-1 * var(--unit) / 6);
	margin-bottom: calc(-1 * var(--unit) / 6);
	margin-left: calc(-1 * var(--unit) / 2);
	margin-right: calc(-1 * var(--unit) / 2);
	padding-top: calc(var(--unit) / 6);
	padding-bottom: calc(var(--unit) / 6);
	padding-left: calc(var(--unit) / 2);
	padding-right: calc(var(--unit) / 2);
	text-transform: lowercase;
	font-weight: 300;
	color: inherit;
}

.post__header-badges {
	display: flex;
	/* Fallback for really small screens. */
	flex-wrap: wrap;
	user-select: none;
}

.post__votes + .post__header-badges {
	margin-left: var(--unit);
}

.post__header-badge-container {
	margin-right: var(--unit);
	&:last-child {
		margin-right: 0;
	}
}

.post__header-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Sizing in units would be preferable
	   but they don't scale good on small screens,
	   therefore using `em`s here. */
	/*
	width: calc(var(--unit) * 1.5);
	height: calc(var(--unit) * 1.5);
	*/
	width: 1em;
	height: 1em;
	opacity: 0.8;
}

.post__actions {
	display: flex;
	align-items: flex-start;
}

.post__actions-except-more {
	display: flex;
	align-items: flex-start;
	/* Fallback for really small screens. */
	flex-wrap: wrap;
	margin-right: var(--unit);
}

.post__votes {
	display: flex;
	align-items: center;
	font-weight: 300;
}

.post__votes-count {
	margin-left: 0.5em;
	margin-right: 0.5em;
	/* Disable text selection cursor on votes count.
	   Could be "cursor: default" instead but that would
	   override `<OnClick/>`'s `cursor: pointer`. */
	pointer-events: none;
	opacity: 0.75;
}

.post__votes-count--neutral {
	opacity: 0.6;
}

.post__votes-count--positive {
	color: #008800;
}

.post__votes-count--negative {
	color: #cc0000;
}

.post__vote-icon {
	width: var(--unit);
	height: var(--unit);
}

.post__vote-icon--up {
	transform: rotate(90deg);
}

.post__vote-icon--down {
	transform: rotate(270deg);
}

.post__more-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Units don't scale on smaller screen sizes, so using `em`s instead. */
	/*
	width: calc(var(--unit) * 1.5);
	height: calc(var(--unit) * 1.5);
	margin-left: calc(-1 * var(--unit) / 3);
	margin-right: calc(-1 * var(--unit) / 3);
	padding-left: calc(var(--unit) / 3);
	padding-right: calc(var(--unit) / 3);
	*/
	width: 1em;
	height: 1em;
	margin-left: -0.25em;
	margin-right: -0.25em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	box-sizing: content-box;
	color: rgba(0,0,0,0.2);
	&:active {
		color: var(--base-color-600);
	}
}

.post__more-actions-icon {
	width: 100%;
	/* `<OnClick/>`'s `filter` is set up to ignore clicks on `<button/>`s.
	   `<svg/>` is required to ignore clicks in order for them to be registered by `<button/>`. */
	pointer-events: none;
}

.post--compact.post--anonymous {
	.post__header {
		margin-top: calc(-1 * var(--post-text-vertical-space-adjustment));
	}
}

/* Textual content has some inherent bottom spacing due to line height.
   Other content (attachment thumbnails, embedded pictures and videos)
   doesn't have such extra visual spacing. Therefore reduce it for text. */
.post--compact.post--anonymous:not(.post--empty):not(.post--titled) {
	.post__header {
		margin-bottom: calc(-1 * var(--post-text-vertical-space-adjustment));
	}
}

.post__account-name-and-date {
	display : flex;
	flex-direction : column;
	margin-left : var(--unit);
}

.post__account-name {
	color : var(--base-color-600);
}

.post__account-picture {
	width  : calc(var(--unit) * 4);
	height : calc(var(--unit) * 4);
	border-radius : var(--border-radius);
	box-shadow : 0 0 0 1px var(--content-section-divider-color);
}

.post__heading {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 400;
}

.post--titled .post__summary {
	margin-bottom: -0.1em;
}

.post--starts-with-text {
	.post__heading {
		margin-bottom: calc(0.5em - 0.2em);
	}
}

.post__date-link {
	outline: none;
}