@import "../styles/common";

.PostQuote
{
	padding-left : 1em;
	border-left  : 0.1em solid var(--gray-color-100);
}

.PostQuote-text
{
	margin-left   : 0;
	margin-bottom : 0;
	font-size     : 115%;
	line-height   : var(--Document-lineHeight);
}

.PostQuote-source
{
	margin-top : 1em;
}