/*
.post__inline-spoiler,
.post__inline-spoiler-contents {
  transition-duration: 60ms;
}
*/

.post__inline-spoiler--hidden {
	background-color: var(--PostInlineSpoiler-color);
	border-radius: 0.2em;
}

.post__inline-spoiler--censored {
	&.post__inline-spoiler--hidden {
		background-color: var(--PostInlineSpoiler-color--censored);
		cursor: not-allowed;
	}
}

.post__inline-spoiler--hidden {
	/* A "censored" spoiler may be placed inside a regular "spoiler".
	   Hence using the ">" selector. */
	> .post__inline-spoiler-contents {
		opacity: 0;
	}
}

.post__inline-spoiler--hidden:not(.post__inline-spoiler--censored):hover {
	background-color: transparent;
	/* A "censored" spoiler may be placed inside a regular "spoiler".
	   Hence using the ">" selector. */
	> .post__inline-spoiler-contents {
		opacity: 1;
	}
}