.PostParagraph {
	/* Textual content has some inherent bottom spacing due to line height.
	   Other content (attachment thumbnails, embedded pictures and videos)
	   doesn't have such extra visual spacing. Therefore, vertical margin
	   is slightly reduced for text in order for it to be visually similar
	   to the vertical spacing of other content like embedded pictures/videos. */
	margin-top: var(--PostParagraph-marginTop);
	margin-bottom: var(--PostParagraph-marginBottom);
}

/* Instead, "negative" `margin-top` is added to `.PostContent`. */
/*.PostParagraph--first {
	margin-top: 0;
}*/

.PostParagraph + .PostParagraph {
	/* Add extra vertical spacing between text paragraphs. */
	margin-top: var(--PostContent-marginTop);
}