.post__header-top {
	display: flex;
	justify-content: space-between;
}

.post__summary {
	display: flex;
	align-items: flex-start;
}

.post__header-badges {
	display: flex;
	margin-right: var(--unit);
	/* Fallback for really small screens. */
	flex-wrap: wrap;
	user-select: none;
}

.post__header-badge-container {
	margin-right: var(--unit);
	&:last-child {
		margin-right: 0;
	}
}

.post__header-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--unit) * 1.5);
	height: calc(var(--unit) * 1.5);
	opacity: 0.5;
}

.post__actions {
	display: flex;
	align-items: flex-start;
}

.post__more-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--unit) * 2);
	height: calc(var(--unit) * 1.5);
	color: rgba(0,0,0,0.2);
	cursor: pointer;
	&:hover {
		color: rgba(0,0,0,0.275);
	}
	&:active {
		color: var(--base-color-dark);
	}
}

.post__more-actions-icon {
	width: calc(var(--unit) * 1.5);
	/* `<OnClick/>`'s `filter` is set up to ignore clicks on `<button/>`s.
	   `<svg/>` is required to ignore clicks in order for them to be registered by `<button/>`. */
	pointer-events: none;
}

.post--compact.post--anonymous {
	.post__header {
		margin-top: calc(-1 * var(--post-text-vertical-space-adjustment));
	}
}

/* Textual content has some inherent bottom spacing due to line height.
   Other content (attachment thumbnails, embedded pictures and videos)
   doesn't have such extra visual spacing. Therefore reduce it for text. */
.post--compact.post--anonymous:not(.post--empty):not(.post--titled) {
	.post__header {
		margin-bottom: calc(-1 * var(--post-text-vertical-space-adjustment));
	}
}

.post__account-name-and-date {
	display : flex;
	flex-direction : column;
	margin-left : var(--unit);
}

.post__account-name {
	color : var(--base-color-dark);
}

.post__account-picture {
	width  : calc(var(--unit) * 4);
	height : calc(var(--unit) * 4);
	border-radius : var(--border-radius);
	box-shadow : 0 0 0 1px var(--content-section-divider-color);
}

.post__author {
	display: flex;
	align-items: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: var(--gray-color);
}

.post__author-icon {
	width: 1em;
	height: 1em;
	margin-right: 0.35em;
	margin-bottom: 0.1em;
}

.post__author-name,
.post__author-name-2 {
	font-family: var(--font-family);
	font-weight: 300;
}

.post__author-name {
	color: var(--base-color-darkest);
}

.post__author-name + .post__author-name-2 {
	margin-left: 0.35em;
}

.post__heading {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 400;
}

.post--titled .post__summary {
	margin-bottom: -0.1em;
}

.post--starts-with-text {
	.post__heading {
		margin-bottom: calc(0.5em - 0.2em);
	}
}

.post__date-link,
.post__more-actions {
	&:focus {
		outline: none;
		background-color: rgba(0,0,0,0.02);
		border-radius: calc(var(--unit) / 4);
		box-shadow: 0 0 0 1px var(--gray-color-lightest);
	}
}