.PostAudio {
	margin-top: var(--PostContent-marginTop);

	h1 {
		margin-top: 0.4em;
		margin-bottom: 0;
		font-weight: normal;
	}

	audio:focus {
		outline: none;
		box-shadow: 0 0 0 1px var(--base-color-700);
	}
}