.post__file {
	display: flex;
	align-items: center;
	margin-top: var(--post-content-vertical-spacing);
}

.post__file-icon {
	width: 0.95em;
	height: 0.95em;
	margin-right: 0.25em;
}

.post__file-size {
	margin-left: 0.4em;
	color: var(--gray-color-400);
	font-weight: 300;
}