.post__inline-quote-link:hover,
.post__inline-quote-link:active {
	/*--PostQuoteBlock-borderColor: var(--PostQuoteBlock-borderColor--hover);*/
	--PostQuoteBlock-backgroundColor: var(--PostQuoteBlock-backgroundColor--hover);
	/*--PostQuoteBlock-borderColor--generated: var(--PostQuoteBlock-borderColor--generated--hover);*/
	--PostQuoteBlock-backgroundColor--generated: var(--PostQuoteBlock-backgroundColor--generated--hover);
	.post__quote-block {
		/* Overrides the default `a:active` color for `.post__quote-blocks--link`. */
		color: var(--PostQuoteBlock-color);
	}
}

/* Due to the presence of a `<br/>` sequential
   inline quotes' vertical margins don't "collapse". */
.post__inline-quote-link + br + .post__inline-quote-link .post__inline-quote {
	margin-top: 0;
}

.post__inline-quote-link--disabled {
	user-select: none;
}