@import "../styles/common";

.post__attachment-thumbnail {
	/* `<button/>`s are `display: inline` by default. */
	display: block;
}

.post__attachment-thumbnail.rrui__picture--background {
	/* Material Design Card elevation shadow. */
	/* https://codepen.io/sdthornton/pen/wBZdXq */
	transition: box-shadow 160ms cubic-bezier(.25,.8,.25,1);
	&:hover {
		box-shadow: var(--PostAttachment-shadow--hover);
	}
}

/* Blur radius depends on the actual image dimensions. */
/*
.post__attachment-thumbnail--spoiler {
	.rrui__picture__image {
		filter: blur(14px);
	}
}
*/

.post__attachment-thumbnail__loading {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.post__attachment-thumbnail__loading-indicator {
	width  : calc(var(--unit) * 2);
	height : calc(var(--unit) * 2);
	color  : var(--white-color);
	/* <ActivityIndicator/> uses `em`s by default. */
	font-size : 12px;
}

.post__attachment-thumbnail__more-count {
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;

	display         : flex;
	align-items     : center;
	justify-content : center;

	color            : var(--white-color);
	background-color : rgba(0,0,0,0.4);
	opacity          : 0.8;

	overflow : hidden;
	pointer-events : none;

	font-size : 3rem;
}