:root {
	--ServiceIcon-color: var(--Content-color-900);
	--ServiceIcon-backgroundColor: var(--Content-backgroundColor);
}

.ServiceIcon {
	color: var(--ServiceIcon-color);
}

/*
.ServiceIcon--monochrome {
	color: inherit;
}
*/

.ServiceIcon--monochrome [data-stroke] {
	/* `!important` overrides `color` set via `style="color:var(--white-color)"`. */
	/* For example, see `steam.svg`. */
	color: inherit !important;
}

.ServiceIcon--monochrome [data-fill] {
	color: var(--ServiceIcon-backgroundColor);
}

.ServiceIcon--monochrome [data-fill="gradient"] {
	fill: currentColor;
}