.rrui__snackbar {
	color: var(--Notification-color);
	background-color: var(--Notification-backgroundColor);
}

.rrui__snackbar--error
{
	background-color: var(--Notification-backgroundColor--error);
}