@import "../styles/common";

.rrui__snackbar,
.rrui__snackbar__count {
	color: var(--Notification-color);
	background-color: var(--Notification-backgroundColor);
}

.rrui__snackbar {
	box-shadow: 0 0 0 var(--Notification-borderWidth) var(--Notification-borderColor);
	@mixin xxs {
		--rrui-snackbar-height: calc(var(--unit) * 3);
		--rrui-snackbar-side-padding: var(--unit);
	}
	@mixin xs {
		--rrui-snackbar-height: calc(var(--unit) * 3.5);
		--rrui-snackbar-side-padding: var(--unit);
	}
}

.rrui__snackbar__count {
	border-color: var(--Notification-color);
}

.rrui__snackbar--error {
	color: var(--Notification-color--error);
	background-color: var(--Notification-backgroundColor--error);
	box-shadow: 0 0 0 var(--Notification-borderWidth--error) var(--Notification-borderColor--error);
}