.rrui__video {
	display: block;
/*	position: relative;
	overflow: hidden;*/
}

/*
.rrui__video iframe,
.rrui__video object,
.rrui__video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

/* `overflow: visible` is for the `box-shadow` to be visible. */
/*.rrui__video {
	overflow: visible;
}*/

.rrui__video video {
	/* `<video/>`'s `display` is `inline` by default. */
	display: block;
	/* Don't show the `:focused` outline. */
	outline: none;
}

.rrui__video--border {
	--Video-borderColor: var(--Picture-borderColor);
	/* Without `background-clip: padding-box` the border wouldn't blend with background. */
	/* https://stackoverflow.com/questions/4062001/can-you-set-a-border-opacity-in-css */
  background-clip: padding-box;
}

.rrui__video--border:focus {
	--Video-borderColor: var(--Picture-borderColor--focus);
}

.rrui__video--border:not(.rrui__video__preview) {
	border: 1px solid var(--Video-borderColor);
}

/*.rrui__video--border {
	box-shadow: 0 0 0 1px var(--Picture-borderColor);
}*/

.rrui__video__preview:focus {
	/*&.rrui__picture {
		box-shadow: 0 0 0 1px var(--Video-borderColor--focus);
	}*/
	.rrui__video__play-icon-border,
	.rrui__video__play-icon-triangle {
		fill: var(--base-color-400);
	}
}

/*.rrui__video--aspect-ratio {
	height: 0;
}*/

/*.rrui__video__button {
	display: block;
	width: 100%;
}*/

/*.rrui__video__preview {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}*/

.rrui__video__duration {
	position: absolute;
	display: block;
	right: 0.3em;
	bottom: 0.3em;
	height: 1.5em;
	line-height: 1.5em;
	padding-left: 0.26em;
	padding-right: 0.26em;
	border-radius: 0.2em;
	font-family: var(--Document-fontFamily);
	font-size: 70%;
	font-weight: 300;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--white-color);
}

.rrui__video__duration--time {
	font-size: 80%;
}

.rrui__video__player-container-inner {
	/* Will be focused in case of an `<iframe/>` video player
	   because `<iframe/>`s don't bubble events. */
	outline: none;
}