.rrui__video__play-icon-triangle {
	fill: white;
}

.rrui__video__play-icon-background {
	fill: rgba(0, 0, 0, 0.7);
	transition: fill 120ms;
}

.rrui__video__play-icon-border {
	fill: rgba(255, 255, 255, 0.7);
}